* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f8fefe;
}

.form-content {

    max-width: 800px;
    margin: 4% auto;
    position: relative;
    box-shadow: 0px 16px 26px rgba(0 0 0 /11%);
    border-radius: 20px;
    background-color: #fff;
}

.login-register {
    display: flex;
    justify-content: center;
    position: relative;
}

.formLogin {

    width: 50%;
    background: transparent;
}

.fromLogout {

    width: 50%;
    background: transparent;
    height: 100%;

}

.login-register h1 {
    text-align: start;
    font-size: 30px;
    color: rgb(59, 59, 59);
    margin: 20px;
}

.login-register .form-group {

    border: 1px solid #dbdde1;
    margin: 15px 12px;
    display: flex;
    padding: 4px;


}

.login-register .inputdata {

    display: flex;
    align-items: center;
    width: 100%;
}

.login-register .inputdata .input {

    width: 100%;
}

.login-register .inputdata .input input {

    width: 94%;
    white-space: nowrap;
    padding: 10px;
    border: none;
    outline: none;


}

.login-register .inputdata i {
    margin: 0px 10px;
    font-size: 20px;
    color: #dbdde1;
}

.inputdata .input {

    position: relative;
}

.inputdata .input input:focus~span,
.inputdata .input input:valid~span {

    transform: translateY(-16px) translateX(-7px);
    font-size: 14px;
}

.inputdata .input span {

    position: absolute;
    top: 0px;
    transform: translateY(8px);
    color: #86888b;
    background: #fff;
    border: 3px solid #fff;
    transition: all .3s ease-in;


}

.login-register button {

    background: linear-gradient(90deg, #475ED7 0%, #D895CD 53.51%, #7A22D3 100%);
    border-radius: 2px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #475ED7;
    width: 94%;
}

.login-register button:hover {
    opacity: 0.90;
}

.parrafo {

    text-align: center;
}

.parrafo span {

    color: #199ad5;
    font-size: 18px;
    cursor: pointer;
}

.description ul li {

    color: #86888b;
    margin: 5px 0px;
}

.ajustes {
    background: #fff;
    display: flex;

    margin: 0 auto;
    width: 100%;

    justify-content: space-between;
}

.ajustes .atras img {
    color: hsl(216, 2%, 54%);
    width: 50px;
    margin: 10px;
}

.ajustes .atras {

    background: #ececec9e;
}

.ajustes .titles h2 {

    margin: 20px 20px;
    font-size: 30px;
    display: block;

}

.parrafo a {
    text-decoration: none;
    color: #199ad5;
}

.eye {
    cursor: pointer;
    height: 100%;
    align-items: center;
    display: flex;

}

.items-hy {

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 300;

}

.title-f {
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.title-f h1 {
    margin: 0px;
    font-size: 30px;
    margin: 0px 10px;
    color: #fff;
    z-index: 200;

}

.icon-item a {

    text-decoration: none;
}

.icon-item a i {
    font-size: 30px;
    background: linear-gradient(90deg, #475ED7 0%, #D895CD 53.51%);
    color: #fff;
    padding: 10px 18px;
    border-radius: 50px;
    margin: 10px;
    z-index: 200;
    position: relative;

}

.imagen-go {
    position: absolute;
    z-index: 100;
    height: 100%;
    top: 0;
    left: 50%;
    width: 50%;
    transition: 200ms ease-out;

}

.imagen-go.actimg {
    left: 0%;
    transition: 200ms ease-out;
}

.imagen-go.actpo {
    left: 50%;
    transition: 200ms ease-out;
}

.imagen-go img {
    width: 100%;
    height: 100%;
    transition: 2000ms ease-out;

}