@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
:root {
  --bg-global1: #6663e3;
  --bg-global2: #bb34a5;
  --bg-global3: #5a05c7;
  --bg-global4: #c705b3;
  --bg-global5: #9f25b3;
  --bg-global6: #2533b3;
  --bg-global7: #3d59ec;
  --bg-global8: #2ad1dc;
  --bg-global9: #29b8c2;
  --color-title1: #7e257a;
  --color-title2: #7e257a;
  --color-title3: #0400be;
  --color-title4: #3e08b2;
  --text-parrafo1: #292929;
  --text-parrafo2: #575757;
  --text-parrafo3: #242424;
  --color-white: #fff;
}
body{

  overflow-x: hidden;
}
.img_public{

  display: flex;
  justify-content: center;
}
.bg-cuenta {
  background: linear-gradient(to right, var(--bg-global1), var(--bg-global2));
  color: var(--color-white);
  padding: 8px;
  border-radius: 16px 0px 16px 0px;
  transition: 0.1s ease-in-out;
}
.bg-cuenta:hover {
  opacity: 0.9;
  transition: 0.1s ease-in-out;
}
.barra-search {
  display: flex;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  border-radius: 50px;
}
.config-search {
  display: flex;
  justify-content: end;
}
.serch-class {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  padding: 5px;
}
.links2 {
  white-space: nowrap;
}
.text-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  display: flex;
  align-items: center;
  max-width: 40rem;
  background: linear-gradient(
    96.15deg,
    #7e257a 1.3%,
    #3e08b2 45.16%,
    #0400be 94.64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.border-code {
  padding: 13px;
  border: 2px solid #000;
  margin-top: 8px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.30rem;
}
.border-code:hover {
background: linear-gradient(90deg,
            #9f25b3 5.49%,
            rgba(37, 51, 179, 0.52) 47.62%,
            rgba(37, 51, 179, 0.06) 96.39%);
  color: #fff;
border: 2px solid var(--bg-global2), rgba(37, 51, 179, 0.52);
  transition: 0.1s ease-in-out;
}
.carrusel-Automatic {
  width: 300px;
  height: 300px;
  background: linear-gradient(
    139.27deg,
    #5a05c7 1.27%,
    rgba(199, 5, 180, 0.42) 97.83%
  );
  border-radius: 10px;
  margin: 10px;
  overflow-x: hidden;
  position: relative;
}
.efecto-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: -1px;
  height: 100%;
  background: transparent;
  z-index: 100;
  box-shadow: 0px 0px 30px 25px rgba(238, 238, 238, 0.559);
  filter: drop-shadow(20);
}
.cubos-hero {
  display: flex;
  flex-direction: column;
}
.hero-cuadro-d {
  width: 400px;
  height: 120px;
  background: linear-gradient(
    90deg,
    #9f25b3 5.49%,
    rgba(37, 51, 179, 0.52) 47.62%,
    rgba(37, 51, 179, 0.06) 96.39%
  );
  border-radius: 60px 0px 0px 60px;
  margin: 10px 0px;
  border-radius: 60px 0px 0px 60px;
}
.hero-cuadro-t {
  width: 400px;
  height: 120px;
  background: linear-gradient(
    90deg,
    #3d59ec 9.1%,
    rgba(42, 209, 220, 0.46) 53.08%,
    rgba(24, 193, 204, 0) 97.98%
  );
  border-radius: 60px 0px 0px 60px;
  margin: 10px 0px;
  max-width: 1200px;
}
.cuadro-end-1 {
  width: 400px;
  height: 120px;
  background: linear-gradient(
    89.81deg,
    #1472df -2.8%,
    rgba(41, 184, 194, 0.18) 99.75%
  );
  border-radius: 15px;
  margin: 0px 10px 10px 0px;
}
.cuadro-end-2 {
  width: 300px;
  height: 120px;
  background: linear-gradient(
    90deg,
    #b81fa9 4.92%,
    rgba(135, 31, 184, 0.14) 100%
  );
  border-radius: 60px 0px 0px 60px;
}
.cubos-hero {
  display: flex;
}
.cuadro-end {
  display: flex;
  gap: 1.1rem;
}
.hero_cuadro2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.cuadros {
  display: flex;
  gap: 1.1rem;
  align-items: center;
}

.carrusel-Automatic {
  display: flex;
}
.carrusel-Automatic .img1 {
  width: 300px;
}
.carrusel-Automatic img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: brightness(1.2);
}
.carrusel {
  width: 1200px;
  display: flex;
  animation: scrollImage 16s infinite alternate ease-in-out;
}

@keyframes scrollImage {

 0%{margin-left: 0%; opacity: 0; }
 20%{ margin-left: 0%; opacity: 1; filter: brightness(1) ;}

 25%{ margin-left: -100%; opacity: 0;  }
 45%{margin-left: -100%; opacity: 1; filter: brightness(1) }

 50%{margin-left: -200%; opacity: 0;  }
 70%{margin-left: -200%; opacity: 1; filter: brightness(1) }

 75%{margin-left: -300%; opacity: 0;  }
 100%{ margin-left: -300%; opacity: 1; filter: brightness(1) }


}
.publicImage h2{

  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  font-weight: bold;
  color: #363636;

}
.tolpi:hover  span{
  transition: all .3s ease-out;
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}
.tolpi{

  position: relative;
  transition: all .3s ease-out;
}
.tolpi span{
 
  opacity: 0;
  visibility: hidden;
  background: #000;
  color: #fff;
  padding: 4px;
  position: absolute;
  min-width: 250px;
  left: -100px;
  border-radius: 4px;
  transform: translateY(40px);
  

}
.tolpi span::after{
  content: "";
  position: absolute;
  border-right: 10px solid transparent;
  border-top:  10px solid transparent;
  border-bottom: 10px solid rgb(18, 18, 18);
  border-left: 10px solid transparent;
  left: 109px;
  top: -1.2rem;

}
.cards-paralaxx{

  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem auto;
  gap: 1rem;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d ;
  transform-origin: 0;
}
.cards-paralaxx img{
  transform-style: preserve-3d;
  transition: all .2s ease-out;
  transform: rotateY(360deg);
  width: 389px;
  height: 300px;
  object-fit: cover;
  border-radius: 1.2rem;
  position: relative;
  transition: .7s ease-out all;

}
 .publicImage.delete{

  text-align: center;
  transform: translateY(40px);
  opacity: 0;
  transition: .7s ease-out all;

}
.publicImage.active{

  text-align: center;
  transition: .7s ease-out all;
 
  transform: translateY(0px);
  opacity: 1;
}
.imgParalaxx {
  max-width: 1200px;
  margin:  2rem auto;
  position: relative;

}
.content-pkk{
  
  max-width: 1200px;
  margin:  2rem auto;
  position: relative;
}
.gallery-image img{
  
  width: 100px;
  z-index: 2000;
  margin: 0.2em;
  border-radius: 0.5rem;
}
.gallery-image{
  
  z-index: 2000;
  position: absolute;
 
  top: 18rem;
  left: 15rem;
}
.galerry{
  display: flex;
  justify-content: space-evenly;
}
.gallery-image2 img{
  
  width: 100px;
  z-index: 2000;
  margin: 0.2em;
  border-radius: 0.5rem;
}
.gallery-image2{
  
  z-index: 2000;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  top: 28.7rem;
  left: 15rem;
}
.gallery-image3 img{
  width: 100px;
  z-index: 2000;
  margin: 0.2em;
  border-radius: 0.5rem;
}
.gallery-image3{
  position: absolute;
  top: 25rem;
  left: 52rem;
}
.gallery-image3 .tec{

  display: flex;
}
.imgParalaxx img{
  position: relative;
  opacity: 0;
  
}
.galerry-image4{

  width: 190px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 22rem;
  left: 52.5rem;
}
.gallery-r .items a{

  margin: 0.10rem;
  background: linear-gradient(
    96.15deg,
    #7e257abd 1.3%,
    #3e08b2c5 45.16%,
    #0300bebc 94.64%
  );
  padding: 0.50rem;
  border-radius: 4rem;
  color: #fff;
  text-align: center;
}
.gallery-r{

  display: flex;
  justify-content: space-between;
  width: 750px;
  position: absolute;
  top: 12.8rem;
  left: 14rem;

}
.cunt-j{

  
  transform:translate3d(-295px, 152px, 540px) rotate3d(31, 191, 14, 25deg);
  transition: all .9s ease-in-out;
  perspective: 100px;
  transform-style: preserve-3d;
  opacity: 0;

}
.cunt-j.activ{

  opacity: 1;
  cursor: pointer;
  transform: translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg);
}
.infotec{

      /* color: red; */
        display: flex;
        max-width: 1400px;
        margin: 1rem auto;
        justify-content: space-between;
        align-items: center;
}
.infotect{

  display: flex;
    max-width: 1400px;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
}
.image{
  
}
.infodesc{

      max-width: 500px;
      direction: ltr;
      
}
.infodesc h2{
      color: black;
        font-size: 2.40rem;
        font-weight: 600;

}
.infodesc p{
  color: #191919;
    font-size: 1.20rem;

  
}
.ltr-count{

  direction: rtl;
}
.sliderContent-funny{

    max-width: 700px;
      max-height: 40vh;
      
      height: auto;
      position: relative;
      overflow: hidden;
      margin: 1rem auto;
      border-radius: 10px;
      -webkit-box-shadow: -21px -23px 125px -27px rgba(153, 19, 153, 1);
        -moz-box-shadow: -21px -23px 125px -27px rgba(153, 19, 153, 1);
        box-shadow: -21px -23px 125px -27px rgba(153, 19, 153, 1);
        width: 100%;
}
 .sliderImg{

  display: none;
  transition: all .2s ease-out;
  max-height: 100vh;
  height: 100%;
} 
.sliderImg2{
  /* display: none;
  transition: all .2s ease-out;
  max-height: 100vh;
  height: 100%; */

}
.sliderImg2 img{

  width: 100%;
  max-height: 100vh;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  transition: all .2s ease-out;
}
.sliderImg img{

  width: 100%;
  max-height: 100vh;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  transition: all .2s ease-out;
}
.sliderDirecciones{

  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  
}
.sliderDirecciones span{

  color: #fff;
    display: inline-block;
    padding: 10px 23px;
    text-decoration: none;
    background: #d6d6d64f;
    border-radius: 80px;
    cursor: pointer;
    font-size: 25px;
    margin: 5px;
  }
  .sliderDirecciones span:hover{
    
    background: #c7c7c74f;
}
.curvaSlider{
  background: red;
}
body::-webkit-scrollbar{

  background: #fff;
  padding: 5px;
  
}
body::-webkit-scrollbar-thumb{
  
    background: #d2d2d2;
      border: 3px solid #fff;
      
      border-radius: 10px;
      width: 10px;
}
.sliderCount-2{

  background: linear-gradient(180deg, #7e257abd 1.3%, #3e08b2c5 45.16%, #f6f6f6bc 94.64%);
  display: flex;
  position: relative;
  height: 70vh;
  overflow: hidden;
  
}
.cliPaht{

  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 47%, 0% 0%);
    position: absolute;
    width: 50%;
      background: linear-gradient(180deg, #7e257abd 1.3%, #3e08b2c5 45.16%, #f6f6f6bc 94.64%);
    height: 100%;
    right: 70rem;
    
}
.cliPaht2 {

  clip-path: polygon(100% 0%, 100% 56%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  position: absolute;
  width: 50%;
  background: linear-gradient(180deg, #7e257abd 1.3%, #3e08b2c5 45.16%, #f6f6f6bc 94.64%);
  height: 100%;
  left: 70rem;
  
}
.barraSlider{

  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

}
.barra{

  cursor: pointer;
  height: 2px;
  width: 35px;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.9);
  display: inline-block;
  margin-left: 3px;
}
.barra.active{

  background:#c705b3;
}
.barra2 {

  cursor: pointer;
  height: 2px;
  width: 35px;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.9);
  display: inline-block;
  margin-left: 3px;
}

.barra2.active2 {

  background: #c705b3;
}
.fade{

  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from{
    opacity: .4;
  }
  to{
    opacity: 1;
  }
  
}
.title-slider{

      text-align: center;
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 7rem;
        font-weight: bold;
        color: #363636;
        position: relative;
        padding: 1rem;
}
.title-slider::after{
    background: #c705b3;
      content: "";
      position: absolute;
      width: 60px;
      height: 20px;
      top: 0;
      display: inline-block;
      text-align: center;
      margin: 0 auto;
      left: 50%;
      border-radius: 5rem;
      transform: translateX(-50%);
      margin-bottom: 1rem;


}
.cards-concert{

  
  max-width: 1200px;
  margin: 0 auto;
 
}
.cards-slider-cop{


  display: flex;
  padding: 5px;
   border-radius: 20px;
  border-radius: 8px;

}
.content-cards-slider{

  max-width: 1200px;
  margin: 30px auto;
  position: relative;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  background: white;
  border-radius: 10px;
  border: 1px solid #eee;
}
.slidersContent{
  position: relative;
}
.slidersContent img{

  width: 100%;
  height: 220px;
  object-fit: cover;
  vertical-align: text-top;

}
.slidersContent .datos .h{
  font-size: 1.50rem;
    font-weight: 700;
    letter-spacing: 0.02em;

}
.slidersContent .datos .p{
  color: #eee;
  margin: 10px 0px;

}
.content-cards-slider::-webkit-scrollbar{

  background: #fff;
}
.content-cards-slider::-webkit-scrollbar-thumb{

  background: rgb(239, 239, 239);
  background: linear-gradient(
    96.15deg,
    #7e257abd 1.3%,
    #3e08b2c5 45.16%,
    #0300bebc 94.64%
  );
  border: 3px solid #fff;
  width: 7px;
  border-radius: 10px;
}
.slidersContent .datos .d a{
  margin: 20px 0px;
  background: #eee;
  color: #000;
  padding: 5px;
  display: initial;
  border-radius: 20px;
  height: inherit;

}
.slidersContent .datos .d {
  margin: 20px 0px;
 
  

}
.slidersContent .datos{
  margin: 10px;

}
.slidersContent{

  height: 3;
    width: 300px;
    background: linear-gradient(
      90deg,
      #9f25b3 5.49%,
      rgb(37, 51, 179) 47.62%,
      rgb(124, 38, 205) 96.39%
    );
    margin: 50px 0px;
    color: white;
   
    border-radius:10px;
    margin: 10px;
    box-shadow: 0px 0px 10px .5px rgb(192, 190, 190);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    cursor: pointer;
}
.gfh{

  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.btn_atras,
.btn_adelante{
    border: none;
    position: absolute;
    width:50px;
    height: 50px;
    background: #fff;
    margin: 10px;
    top: 40%;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
    cursor: pointer;
    border: 1px solid #ccc;
    z-index: 1000;
} 
.btn_atras,
.btn_adelante:hover{
    background: rgb(241, 241, 241);
}
.btn_atras i,
.btn_adelante i{
    font-size: 20px;
    padding: 4px;
    color: rgb(81, 81, 81);
}
.btn_adelante{
 
    right: 0;
}
.btn_atras{

    left: 0;
}
.viwsTolpiInfo{
      position: absolute;
        z-index: 200;
        top: 4rem;
        background: #ffffffc2;
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;
        min-width: 400px;
        left: 19rem;
        border-radius: 10px;
        box-shadow: -2px 4px 45px rgb(0 0 0 / 13%);
        transform: translateX(-100px);
        transition: all .3s ease-out;
        opacity: 0;
        visibility: hidden;
        backdrop-filter: blur(8px);
}
.slidersContent:hover .viwsTolpiInfo{
  right: 0rem;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);

}
.head-top-s{

  display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.head-top-s h3{

  color: #7A5BF5;
    font-size: 20px;
    margin: 5px 10px;
}
.head-top-s p{

  background: #21D674;
  color: #fff;
  margin: 5px 10px;
  display: inherit;
  border-radius: 5px;
  padding: 2px;
  
}
.second-head-t{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
}
.second-head-t .tfll{
  font-size: 23px;
  line-height: 1;
  margin: 4px 10px;
  color: #0e0e0e;
}
.start-topl .fd{
  white-space: nowrap;
  color: #000;

}
.start-topl .df{

  background: #21D674;
    color: #fff;
    margin: 4px;
    display: inline-block;
    border-radius: 4px;
    padding: 0px 4px;
}
.second-head-t .start-topl{
  display: flex;
  align-items: center;

}
.second-head-t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
}
.data-tolpi{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.data-tolpi .topl1-ul{

}
.data-tolpi .topl1-ul ul li{
  margin: 1px 10px 0px 10px;
  color: #686868;
}
.cantantes{
  max-width: 260px;
  overflow: hidden;
  color: #686868;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 4px 10px;

}
.ubicacion{
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.mapIcon{
  color: #296DAC;
    display: inherit;
    text-align: end;
    margin: 4px 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.tic-tol{

  position: relative;
}
.tic-tol::after{
  position: absolute;
    content: "";
    top: 110px;
    transform: translateY(-50%);
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid #fff;
    border-top: 15px solid transparent;
    left: -1.7rem;
}
.cards-concert h3{

  color: #000;
    font-size: 30px;
    font-weight: 700;
}
.cards-concert p{

}

