@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
:root {
  --bg-global1: #6663e3;
  --bg-global2: #bb34a5;
  --bg-global3: #5a05c7;
  --bg-global4: #c705b3;
  --bg-global5: #9f25b3;
  --bg-global6: #2533b3;
  --bg-global7: #3d59ec;
  --bg-global8: #2ad1dc;
  --bg-global9: #29b8c2;
  --color-title1: #7e257a;
  --color-title2: #7e257a;
  --color-title3: #0400be;
  --color-title4: #3e08b2;
  --text-parrafo1: #292929;
  --text-parrafo2: #575757;
  --text-parrafo3: #242424;
  --color-white: #fff;
}
body{

  overflow-x: hidden;
}
.img_public{

  display: flex;
  justify-content: center;
}
.bg-cuenta {
  background: linear-gradient(to right, var(--bg-global1), var(--bg-global2));
  color: var(--color-white);
  padding: 8px;
  border-radius: 16px 0px 16px 0px;
  transition: 0.1s ease-in-out;
}
.bg-cuenta:hover {
  opacity: 0.9;
  transition: 0.1s ease-in-out;
}
.barra-search {
  display: flex;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  border-radius: 50px;
}
.config-search {
  display: flex;
  justify-content: end;
}
.serch-class {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  padding: 5px;
}
.links2 {
  white-space: nowrap;
}
.text-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  display: flex;
  align-items: center;
  max-width: 40rem;
  background: linear-gradient(
    96.15deg,
    #7e257a 1.3%,
    #3e08b2 45.16%,
    #0400be 94.64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.border-code {
  padding: 13px;
  border: 2px solid #000;
  margin-top: 8px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.30rem;
}
.border-code:hover {
background: linear-gradient(90deg,
            #9f25b3 5.49%,
            rgba(37, 51, 179, 0.52) 47.62%,
            rgba(37, 51, 179, 0.06) 96.39%);
  color: #fff;
border: 2px solid var(--bg-global2), rgba(37, 51, 179, 0.52);
  transition: 0.1s ease-in-out;
}
.carrusel-Automatic {
  width: 300px;
  height: 300px;
  background: linear-gradient(
    139.27deg,
    #5a05c7 1.27%,
    rgba(199, 5, 180, 0.42) 97.83%
  );
  border-radius: 10px;
  margin: 10px;
  overflow-x: hidden;
  position: relative;
}
.efecto-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: -1px;
  height: 100%;
  background: transparent;
  z-index: 100;
  box-shadow: 0px 0px 30px 25px rgba(238, 238, 238, 0.559);
  filter: drop-shadow(20);
}
.cubos-hero {
  display: flex;
  flex-direction: column;
}
.hero-cuadro-d {
  width: 400px;
  height: 120px;
  background: linear-gradient(
    90deg,
    #9f25b3 5.49%,
    rgba(37, 51, 179, 0.52) 47.62%,
    rgba(37, 51, 179, 0.06) 96.39%
  );
  border-radius: 60px 0px 0px 60px;
  margin: 10px 0px;
  border-radius: 60px 0px 0px 60px;
}
.hero-cuadro-t {
  width: 400px;
  height: 120px;
  background: linear-gradient(
    90deg,
    #3d59ec 9.1%,
    rgba(42, 209, 220, 0.46) 53.08%,
    rgba(24, 193, 204, 0) 97.98%
  );
  border-radius: 60px 0px 0px 60px;
  margin: 10px 0px;
  max-width: 1200px;
}
.cuadro-end-1 {
  width: 400px;
  height: 120px;
  background: linear-gradient(
    89.81deg,
    #1472df -2.8%,
    rgba(41, 184, 194, 0.18) 99.75%
  );
  border-radius: 15px;
  margin: 0px 10px 10px 0px;
}
.cuadro-end-2 {
  width: 300px;
  height: 120px;
  background: linear-gradient(
    90deg,
    #b81fa9 4.92%,
    rgba(135, 31, 184, 0.14) 100%
  );
  border-radius: 60px 0px 0px 60px;
}
.cubos-hero {
  display: flex;
}
.cuadro-end {
  display: flex;
  gap: 1.1rem;
}
.hero_cuadro2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.cuadros {
  display: flex;
  gap: 1.1rem;
  align-items: center;
}

.carrusel-Automatic {
  display: flex;
}
.carrusel-Automatic .img1 {
  width: 300px;
}
.carrusel-Automatic img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: brightness(1.2);
}
.carrusel {
  width: 1200px;
  display: flex;
  animation: scrollImage 16s infinite alternate ease-in-out;
}

@keyframes scrollImage {

 0%{margin-left: 0%; opacity: 0; }
 20%{ margin-left: 0%; opacity: 1; filter: brightness(1) ;}

 25%{ margin-left: -100%; opacity: 0;  }
 45%{margin-left: -100%; opacity: 1; filter: brightness(1) }

 50%{margin-left: -200%; opacity: 0;  }
 70%{margin-left: -200%; opacity: 1; filter: brightness(1) }

 75%{margin-left: -300%; opacity: 0;  }
 100%{ margin-left: -300%; opacity: 1; filter: brightness(1) }


}
.publicImage h2{

  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  font-weight: bold;
  color: #363636;

}
.tolpi:hover  span{
  transition: all .3s ease-out;
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}
.tolpi{

  position: relative;
  transition: all .3s ease-out;
}
.tolpi span{
 
  opacity: 0;
  visibility: hidden;
  background: #000;
  color: #fff;
  padding: 4px;
  position: absolute;
  min-width: 250px;
  left: -100px;
  border-radius: 4px;
  transform: translateY(40px);
  

}
.tolpi span::after{
  content: "";
  position: absolute;
  border-right: 10px solid transparent;
  border-top:  10px solid transparent;
  border-bottom: 10px solid rgb(18, 18, 18);
  border-left: 10px solid transparent;
  left: 109px;
  top: -1.2rem;

}
.cards-paralaxx{

  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem auto;
  gap: 1rem;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d ;
  transform-origin: 0;
}
.cards-paralaxx img{
  transform-style: preserve-3d;
  transition: all .2s ease-out;
  transform: rotateY(360deg);
  width: 389px;
  height: 300px;
  object-fit: cover;
  border-radius: 1.2rem;
  position: relative;
  transition: .7s ease-out all;

}
 .publicImage.delete{

  text-align: center;
  transform: translateY(40px);
  opacity: 0;
  transition: .7s ease-out all;

}
.publicImage.active{

  text-align: center;
  transition: .7s ease-out all;
 
  transform: translateY(0px);
  opacity: 1;
}
.imgParalaxx {
  max-width: 1200px;
  margin:  2rem auto;
  position: relative;

}
.content-pkk{
  
  max-width: 1200px;
  margin:  2rem auto;
  position: relative;
}
.gallery-image img{
  
  width: 100px;
  z-index: 2000;
  margin: 0.2em;
  border-radius: 0.5rem;
}
.gallery-image{
  
  z-index: 2000;
  position: absolute;
 
  top: 18rem;
  left: 15rem;
}
.galerry{
  display: flex;
  justify-content: space-evenly;
}
.gallery-image2 img{
  
  width: 100px;
  z-index: 2000;
  margin: 0.2em;
  border-radius: 0.5rem;
}
.gallery-image2{
  
  z-index: 2000;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  top: 28.7rem;
  left: 15rem;
}
.gallery-image3 img{
  width: 100px;
  z-index: 2000;
  margin: 0.2em;
  border-radius: 0.5rem;
}
.gallery-image3{
  position: absolute;
  top: 25rem;
  left: 52rem;
}
.gallery-image3 .tec{

  display: flex;
}
.imgParalaxx img{
  position: relative;
  opacity: 0;
  
}
.galerry-image4{

  width: 190px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 22rem;
  left: 52.5rem;
}
.gallery-r .items a{

  margin: 0.10rem;
  background: linear-gradient(
    96.15deg,
    #7e257abd 1.3%,
    #3e08b2c5 45.16%,
    #0300bebc 94.64%
  );
  padding: 0.50rem;
  border-radius: 4rem;
  color: #fff;
  text-align: center;
}
.gallery-r{

  display: flex;
  justify-content: space-between;
  width: 750px;
  position: absolute;
  top: 12.8rem;
  left: 14rem;

}
.cunt-j{

  
  transform:translate3d(-295px, 152px, 540px) rotate3d(31, 191, 14, 25deg);
  transition: all .9s ease-in-out;
  perspective: 100px;
  transform-style: preserve-3d;
  opacity: 0;

}
.cunt-j.activ{

  opacity: 1;
  cursor: pointer;
  transform: translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg);
}
.infotec{

      /* color: red; */
        display: flex;
        max-width: 1400px;
        margin: 1rem auto;
        justify-content: space-between;
        align-items: center;
}
.image{
  
}
.infodesc{

      max-width: 500px;
      direction: ltr;
      
}
.infodesc h2{
      color: black;
        font-size: 2.40rem;
        font-weight: 600;

}
.infodesc p{
  color: #191919;
    font-size: 1.20rem;

  
}
.ltr-count{

  direction: rtl;
}