<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="css/dasboard.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script defer src="js/scriptchart.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://kit.fontawesome.com/2a174a6d4c.js" crossorigin="anonymous"></script>
    <title>Usuario</title>
</head>

<body>

    <header class="cotainer--perfil">
        <div class="text">
            <h1>Tainy</h1>
        </div>
        <div class="searchperfil">
            <form action="" class="formularo">
                <div class="searc-logo">
                    <button type="submit">
                        <img src="image/imgDasboard/search-svgrepo-com.svg" alt="" width="20px">
                    </button>

                </div>
                <div class="input">

                    <input type="text" placeholder="Buscar...">
            </form>
        </div>
        </div>
        <div class="perfiluser">
            
            <div class="icon">
                <a href="">
                 <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="notificacion">
                <picture class="figure">
                    <img src="image/imgDasboard/bell-svgrepo-com.svg" alt="" width="20px">

                </picture>
            </div>
            <div class="userdata">
                <ul>

                    <li>
                        <div class="avatar">
                            <img src="image/imgDasboard/avatar.png" alt="">
                        </div>

                        <span class="nombre">Juan Daniel</span>
                        <div class="angle">
                            <img src="image/imgDasboard/angle-down-svgrepo-com.svg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- ! main-gridllas -->

    <main class="contenedor">
        <div class="aside-barra animate__animated animate__bounceInLeft">

            <ul class="menu">
                <li>
                    <a href="/dasboard" class="active">
                        <i class="fas fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="/perfill" class="">
                        <i class="fas fa-user"></i>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="" class="">
                        <i class="fas fa-search"></i>
                        <span>Buscar</span>
                    </a>
                </li>
                <li>
                    <a href="" class="">
                        <i class="fas fa-bell"></i>
                        <span>Notificaciones</span>
                    </a>
                </li>


                <li>
                    <a href="/publicaciones" class="">
                        <i class="fas fa-clone"></i>
                        <span>Mis Publicaciones </span>
                    </a>
                </li>
                <li>
                    <a href="/destacadas" class="">
                        <i class="fas fa-star"></i>
                        <span>Publicaciones destacadas</span>
                    </a>
                </li>
                <li>
                    <a href="" class="">
                        <i class="fas fa-info-circle"></i>
                        <span>Acerca de</span>
                    </a>
                </li>
                <li>
                    <a href="" class="">
                        <i class="fas fa-cog"></i>
                        <span>Configuracion</span>
                    </a>
                </li>
                <li>
                    <a href="" class="">
                        <i class="fas fa-question-circle"></i>
                        <span>Ayuda</span>
                    </a>
                </li>
                <li>
                    <a href="/logout" class="">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
            <div class="copi">
                <p>Tainy © 2020</p>
            </div>

        </div>
        <div class="main-contenido-data">
            <div class="statistics">

                <div id="chart_div" class="barraanalisis  animate__animated animate__fadeIn"></div>
                <h2>Registro</h2>
                <div class="cards-section">
                    <div class="card  animate__animated animate__fadeInUp">
                        <a href="" class="scale">
                            <span>Total de ventas
                                <div class="i">
                                    <i class="fas fa-chevron-right"></i>

                                </div>
                            </span>
                            <p class="desc">$0</p>
                            <div class="rf">No tienen ninguna venta</div>
                        </a>
                    </div>
                    <div class="card  animate__animated animate__fadeInUp">
                        <a href="" class="scale">
                            <span>Total de Compras
                                <div class="i">
                                    <i class="fas fa-chevron-right"></i>

                                </div>
                            </span>
                            <p class="desc">$0</p>
                            <div class="rf">No tienen ninguna compra</div>

                        </a>
                    </div>
                    
                        <div class="card  animate__animated animate__fadeInUp">
                            <a href="" class="section-card">
                                <span>Publicaciones
                                    <div class="i">
                                        <i class="fas fa-chevron-right"></i>
                        
                                    </div>
                                </span>
                                <p class="desc">0</p>
                                <div class="rf">No tienen ninguna publicacion</div>
                            </a>
                        
                     
                    </div>

                </div>
                <style>

                    .section-card:hover{
                        transform: translateY(-0.5rem);
                      
                        
                    }
                       
                </style>
                <!-- ? 33 -->
                <div class="cards-section">
                    <div class="card title animate__animated animate__fadeInUp">
                        <a href="" class="scale">
                            <span>Publicaciones Destacadas
                                <div class="i">
                                    <i class="fas fa-chevron-right"></i>
                
                                </div>
                            </span>
                            <p class="desc">0</p>
                            <div class="rf">No tienen Ninguna publicacion destacada</div>
                        </a>
                    </div>
                    <div class="card title animate__animated animate__fadeInUp">
                        <a href="">
                            <span>Boletas compradas
                                <div class="i">
                                    <i class="fas fa-chevron-right"></i>
                
                                </div>
                            </span>
                            <p class="desc">0</p>
                            <div class="rf">No tienen Boletas compradas</div>
                
                        </a>
                    </div>
                    <div class="card title animate__animated animate__fadeInUp">
                        <a href="">
                            <span>Mas opciones
                                <div class="i">
                                    <i class="fas fa-chevron-right"></i>
                
                                </div>
                            </span>
                            <p class="desc">
                                <i class="fas fa-chevron-right"></i>
                            </p>
                            <div class="rf">ver mas</div>
                        </a>
                
                    </div>
                
                </div>
            </div>

        </div>
        <div class="subaside--perfil">
            
            <div class="card-pf">
                <div class="card-1 animate__animated animate__fadeInUp">
                    <div class="datos">
                        <span class="tg">Manuel orozco</span>
                        <span><i class="fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="data">
                        <span class="p">$20.000</span>
                        <span class="d" title="Ha comprado una boleta para ir a un concierto">Ha comprado una boleta para ir a un concierto</span>
                        <a href="">Ver mas informacion</a>
                    </div>
                    
                </div>
                <div class="card-1 animate__animated animate__fadeInUp">
                    <div class="datos">
                        <span class="tg">Manuel orozco</span>
                        <span><i class="fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="data">
                        <span class="p">$20.000</span>
                        <span class="d" title="Ha comprado una boleta para ir a un concierto">Ha comprado una boleta para ir a un
                            concierto</span>
                        <a href="">Ver mas informacion</a>
                    </div>
                
                </div>
            </div> 
        </div>
    </main>

</body>

</html>