<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <script src="https://kit.fontawesome.com/2a174a6d4c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Tainy</title>
</head>
<body>

    <div class="container-g bg-[#D6F3FF] flex ">

        <div class="title">
            <h1>Tayni</h1>
        </div>
        <div class="searchBuscador">
            <div class="input_search">
                <input type="text" placeholder="Buscar concierto" autocomplete="off" 
                pattern="" autofocus>

            </div>
            <div class="searhIcon">
                <figure>
                    <img src="image/microphone.png" alt="">
                </figure>
            </div>
            <div class="searhIcon">
               <figure>
                <img src="image/search.png" alt="">
               </figure>
            </div>
        </div>
        <div class="help-content-items">
           <ul>
               <li> <figure>
                <img src="image/help.png" alt="">
            </figure></a></li>
               <li><a href="" class="links2">Iniciar sesion</a></li>
               <li><a href="" class="links3">Hazte una cuenta</a></li>
           </ul>
        </div>
    </div>

    <!-- bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 -->
 
</body>
</html>