<!DOCTYPE html>
<html lang="en">
<head>
   <%-  include("header.ejs") %> 
</head>
<body>

    <header class="bg-[#D6F3FF]">
        <div class="container mx-auto  flex justify-between items-center ">
        
            <div class="title text-4xl font-bold m-2">
                <h1>Tayni</h1>
            </div>
            <div class="searchBuscador flex  barra-search bg-white overflow-hidden p-1 ">
                <div class="input_search w-full">
                    <input type="text" placeholder="Buscar concierto" autocomplete="off" pattern="" autofocus
                        class="serch-class" id="classInput">
        
                </div>
                <div class="config-search">
                    <div class="searhIcon"  id="microphone">
                        <figure class="px-1 cursor-pointer">
                            <img src="image/microphone.png" alt="">
                        </figure>
                    </div>
                    <div class="searhIcon">
                        <figure class="px-2 cursor-pointer">
                            <img src="image/search.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="help-content-items my-2">
                <ul class="flex items-center">
                    <li class="mx-1 tolpi">
                        <a href="/ayuda" class="tolpis">
                            <figure>
                                <img src="image/help.png" alt="" class="helpo">
                              </figure>
                            </a>
                            <span>Contactar con atención al cliente</span>
                    </li>
                    <li class="mx-1"><a href="/login" class="links2
                    px-5 text-black">Iniciar sesion</a></li>
                    <li class="mx-1"><a href="/login" class="links2 bg-cuenta">Hazte una cuenta</a></li>
                </ul>
            </div>
        </div>
        <div class="hero_header flex justify-between  container mx-auto mt-12  ">
            <div class="left-hero">
                <article>
                    <h1 class="text-title mb-6">Encuentra tu proximo concierto y conoce los beneficios</h1>
                    <p class="text-2xl">Encuentra tu proximo concierto y conoce los beneficios</p>
                    <a href="" class="border-code">Comenzar <i class="fas fa-arrow-right"></i></a>
                </article>
            </div>
            <div class="cubos-hero">
                <div class="cuadros">
                    <div class="carrusel-Automatic">
                        <div class="efecto-blur">

                        </div>
                           <div class="carrusel">
                            <div class="img1">
                                <img src="/image/evento1.jpg" alt="">
                            </div>
                            <div class="img1">
                                <img src="/image/evento2.jpg" alt="">
                            </div>
                            <div class="img1">
                                <img src="/image/enento3.jpg" alt="">
                            </div>
                            <div class="img1">
                                <img src="/image/evento1.jpg" alt="">
                            </div>
                            
                           </div>
                    </div>
                    <div class="hero_cuadro2">
                        <div class="hero-cuadro-d">
                            <!-- text -->
                        </div>
                        <div class="hero-cuadro-t">
                            <!-- text -->
                        </div>
                    </div>

                </div>
                <div class="cuadro-end">
                    <div class="cuadro-end-1">
                      
                    </div>
                    <div class="cuadro-end-2">
                        <!-- text -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
      <div class="publicImage">
        <h2>Encuentra el lugar adecuado para ti</h2>
        <div class="img_public">
            <img src="image/static.png" alt="">
        </div>
    </div>
    <div class="cardParalaxx publicImage">
     
        <div class="cards-paralaxx" id="container-paralaxx">
            <img src="/image/enento3.jpg" alt="" id="img1" >
            <img src="/image/enento3.jpg" alt="" id="img2" >
            <img src="/image/enento3.jpg" alt="" id="img3" >
            <img src="/image/enento3.jpg" alt="" id="img4" >
            <img src="/image/enento3.jpg" alt="" id="img5" >
            <img src="/image/enento3.jpg" alt="" id="img6" class="conrParalaxx ">
        </div>
        <div class="publicImage delete" id="title">
            <h2>Mas eventos para a tu gusto</h2>
        </div>
        <div class="content-pkk">
            <div class="imgParalaxx " id="thirdImage" >
                <img src="/image/movil.png" alt="" id="imagenK" class="imgcount">
            </div>
          
            <div class="gallery-image" class="cunt-j ">
              <h5  class="cunt-j "><strong>Mas conciertos</strong></h5 >
              <p class="cunt-j ">Elige el que mas te guste</p>
                <div class="galerry">
                    <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j "> 
                </div>
            </div>
            <div class="gallery-image2">
                <img src="/image/evento2.jpg" alt="" class="cunt-j ">
                <img src="/image/evento2.jpg" alt="" class="cunt-j ">
                <img src="/image/evento2.jpg" alt="" class="cunt-j ">
                <img src="/image/evento2.jpg" alt="" class="cunt-j ">
                <img src="/image/evento2.jpg" alt="" class="cunt-j ">
            </div>
            <div class="gallery-r">
                <div class="little" >
                    <h1 class="cunt-j ">Tainy</h1>
                </div>
                <div class="items">
                    <a href="" class="cunt-j ">Crea</a>
                    <a href="" class="cunt-j ">Conoce</a>
                    <a href="" class="cunt-j ">Disfuta</a>
                    <a href="" class="cunt-j ">Comparte</a>
                </div>
            </div>
            <div class="galerry-image4">
                <span class="cunt-j "> Tainy</span>
                <span class="cunt-j "><i class="fas fa-solid fa-align-justify"></i></span>
            </div>
            <div class="gallery-image3">
                <h5 class="cunt-j "><strong>Mas conciertos</strong></h5 >
                    <p class="cunt-j ">Elige el que mas te guste</p>
                <div class="tec">
                    <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                </div>
               
             <div class="tec">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
             </div>
            </div>
        </div>
    </div>
    <div class="infotec">
        <div class="image">
            <img src="/image/celphone.png" alt="" class="cunt-j ">
        </div>
        <div class="infodesc">
            <h2>Encuentra tus eventos más rapidos </h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil architecto laudantium non nesciunt eum? Beatae, quam
              facere? Error, inventore numquam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, beatae!</p>

        </div>
    </div>
    <div class="infotect ltr-count">
        <div class="infodesc">
            <h2>Sube tus eventos  </h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil architecto laudantium non nesciunt eum? Beatae, quam
              facere? Error, inventore numquam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, beatae!</p>

        </div>
        <div class="image">
            <img src="/image/celphone2.png" alt="" class="cunt-j ">
        </div>
    </div>
    <div class="title-slider">
        Elige tu concierto y cantante favorito
    </div>
   <div class="sliderCount-2">
    <div class="cliPaht">
    </div>
    <div class="cliPaht2">
    </div>
    <div class="sliderContent-funny">
        <div class="sliderImg fade">
            <img src="/image/con1.jpg" alt="">
        </div>
        <div class="sliderImg fade">
            <img src="/image/con2.jpg" alt="">
        </div>
        <div class="sliderImg fade">
            <img src="/image/con4.jpg" alt="">
        </div>
    
        <div class="sliderDirecciones">
            <span class="before" onclick="afterSlider(-1)">&#10094;</span>
            <span class="after" onclick="afterSlider(1)">&#10095;</span>
        </div>
        <div class="barraSlider">
            <span class="barra active" onclick="positionSlider(1)"></span>
            <span class="barra" onclick="positionSlider(2)"></span>
            <span class="barra" onclick="positionSlider(3)"></span>
        </div>
    </div>
    <div class="sliderContent-funny">
        <div class="sliderImg2 fade">
            <img src="/image/cant1.jpg" alt="">
        </div>
        <div class="sliderImg2 fade">
            <img src="/image/cant2.jpg" alt="">
        </div>
        <div class="sliderImg2 fade">
            <img src="/image/cant3.jpg" alt="">
        </div>
    
        <div class="sliderDirecciones">
            <span class="before" onclick="afterSlider2(-1)">&#10094;</span>
            <span class="after" onclick="afterSlider2(1)">&#10095;</span>
        </div>
        <div class="barraSlider">
            <span class="barra2 active2" onclick="positionSlider2(1)"></span>
            <span class="barra2" onclick="positionSlider2(2)"></span>
            <span class="barra2" onclick="positionSlider2(3)"></span>
        </div>
    </div>
    <div class="curvaSlider"></div>
  
    
   </div>
    </main>
    <!-- bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 -->
 <script src="/js/script.js"></script>
 <script src="./js/paralaxx.js"></script>
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae a consectetur ratione esse quam minima, harum tempora ipsa suscipit quasi ipsam quos sunt sit corrupti ea qui dignissimos odio reiciendis, nam repellendus est ut! Amet, a soluta dicta, adipisci provident quidem minima sint nostrum sapiente deleniti expedita atque, vitae tenetur molestiae illo impedit accusantium! Cumque iusto soluta totam debitis nam harum nihil ex rerum, exercitationem odit eligendi ipsa, non perspiciatis sed modi omnis rem nesciunt cum deserunt atque! Ut quae omnis dolor. At id perspiciatis ratione reprehenderit qui, corporis consequatur tempora blanditiis porro! Consectetur iusto aliquid nemo nostrum obcaecati blanditiis cum laborum, sed corrupti eaque dolorum, magni vero vitae provident. Neque tenetur enim ipsam expedita voluptates necessitatibus repellendus impedit maxime aperiam aspernatur beatae possimus quasi accusantium molestiae natus, quo quas tempora ad in reiciendis adipisci iste quisquam! Nemo earum facere corrupti ex quae unde nisi autem recusandae debitis mollitia ducimus, magnam, est consequuntur et tempore odio maxime velit aliquam, repellendus adipisci. Beatae corporis praesentium mollitia voluptate eos consectetur earum quis ea officia? Quia numquam deserunt, magnam natus, exercitationem sequi tenetur suscipit perferendis eos maiores aspernatur nobis est beatae? Nisi consectetur sapiente quia magni numquam earum! Adipisci corporis dignissimos laudantium cupiditate tempore ab numquam, necessitatibus voluptatibus, laboriosam minima voluptatum corrupti autem, molestias maiores porro sed. Debitis quos modi nostrum nesciunt quae minima possimus omnis suscipit sint quod earum velit ipsa commodi corrupti molestias magni rerum qui deserunt vel quam, sed odio natus ut consequatur? Sint doloremque ducimus quo commodi laborum nulla. Aut, voluptate dolore in voluptatem molestiae quisquam non perspiciatis hic laborum atque quam modi est aliquam sunt consequatur harum rerum ipsum veniam reiciendis quibusdam. Ratione provident ipsum voluptatem. Voluptate ducimus quibusdam commodi. Libero ratione repudiandae expedita recusandae tenetur dolorum nulla quia eius perspiciatis odit itaque quas sequi porro exercitationem iste pariatur, nobis rem sint rerum omnis blanditiis? Dignissimos nulla suscipit obcaecati omnis eaque! Voluptatem totam consectetur repellat quibusdam delectus officiis atque eveniet sunt rem quis eum, tenetur blanditiis facilis? Cumque eum iusto ut distinctio necessitatibus ipsa impedit recusandae adipisci neque autem optio, iste numquam, accusantium voluptatem quasi ullam consectetur earum rem. Facere sed dolore nesciunt quis minima similique ea, repellat voluptates nemo nobis natus repellendus deleniti rerum minus reprehenderit, molestiae quod aut nisi, omnis debitis? Cum similique vel consequatur, rem fugiat repellendus reprehenderit omnis modi corrupti impedit maxime id adipisci aspernatur nisi doloribus in quidem ratione odio. Deleniti facere maxime itaque laborum, assumenda, corporis magnam, rem debitis cupiditate quia enim et a? Odio libero repellendus quia soluta voluptate aspernatur non modi! Natus aspernatur accusantium maxime. Necessitatibus ducimus culpa repellendus veritatis quo velit recusandae, temporibus dolore atque sint? Veniam quos facilis magni sunt, quaerat quam sint, rerum animi est reiciendis ipsum quibusdam consequatur minus sequi quasi cupiditate distinctio fuga corporis! Natus nam exercitationem repellat omnis, eos modi dicta quia iusto dignissimos atque sequi aliquam numquam repudiandae expedita aspernatur. Veniam ea laboriosam expedita itaque. Voluptatibus quas officiis architecto minus exercitationem aliquam quidem quaerat esse sequi ipsam! Obcaecati quo, laudantium iusto quia voluptas harum veniam, in corrupti autem reprehenderit molestiae totam numquam? Sit tempora unde dolor iusto nulla! Eum voluptatum dolorum rerum non. Doloribus dolor fuga ipsum maxime magnam cum, repellat aut ducimus. Ab, provident blanditiis esse voluptatem aut commodi error temporibus, quis, dolor alias quasi expedita? Repellendus, necessitatibus a. Nemo voluptas mollitia voluptatem quia nostrum accusantium nobis architecto delectus eum praesentium cupiditate illum aperiam dolore tempora expedita doloremque possimus magnam amet ex, minus hic. Eius non sit qui alias repellat ab, id, quae assumenda voluptate, nisi a vitae necessitatibus mollitia veniam. Rerum nihil amet debitis cum pariatur commodi perferendis blanditiis odio quisquam voluptatum, laborum molestias, itaque qui incidunt eius nisi provident! Accusantium eligendi voluptates atque nulla, saepe perferendis sint totam, eaque nobis veniam expedita vel dolores, reiciendis natus mollitia officiis beatae repellendus? Corrupti sint officia alias ipsum ipsa suscipit delectus, aperiam tenetur voluptates tempora iusto quam illo. Aperiam minus assumenda dolore, deserunt consectetur recusandae repudiandae quia saepe laudantium laboriosam quas enim dicta natus vero, totam ducimus dolorum. Libero quia maxime hic earum dolorum sunt facere, a, porro impedit ratione dolorem illo at, consectetur fugiat minima maiores fugit aperiam eius? Incidunt consequatur sit ex eum? Est eos fuga suscipit quaerat dolores illo tenetur, tempore fugit deserunt veritatis nihil animi officiis quas laborum. Non perferendis magni officiis sunt voluptatibus velit aperiam cupiditate quisquam quia eius quae nam est, assumenda enim natus libero facere. Rem quisquam dolor dolorem aspernatur ullam qui ex inventore distinctio, tenetur repellendus recusandae error itaque enim, deleniti molestias facilis eius praesentium dolorum veniam magnam? Voluptatem, libero nesciunt, doloribus animi nisi esse culpa perferendis molestiae vel explicabo, numquam ducimus quo hic! Dicta, sapiente sit. Dolores accusamus voluptatem quo, distinctio quae eaque quasi, ullam placeat magnam recusandae labore voluptatum enim, fugit sunt voluptate! Necessitatibus ut itaque iusto sequi in assumenda consequatur libero excepturi vel natus doloribus accusamus praesentium earum fugiat, ipsam eligendi, pariatur odio voluptatem veritatis cupiditate dolores. Praesentium, vel commodi consequuntur quisquam impedit quos odit eius reprehenderit necessitatibus doloribus repellat perferendis, quas recusandae quae? Temporibus perspiciatis cumque minima repudiandae illum placeat. Doloremque consequuntur aperiam nostrum dolorum quo nemo vitae est, quas totam assumenda possimus facere odio at, quos consectetur quia magni sapiente provident repellat vel architecto, ad minus. Fuga cum adipisci natus numquam recusandae. Quaerat nihil adipisci laborum obcaecati soluta quisquam aut placeat officiis. Asperiores ab deleniti, voluptate libero facere architecto beatae sint iusto itaque blanditiis laboriosam consequuntur vero ducimus. Saepe, minus. Ut rem saepe molestiae asperiores magnam dicta minima! Ullam maiores, aliquam dicta esse at dolorum rem. Odio sequi aliquam reprehenderit, omnis nesciunt accusamus enim adipisci eaque iusto id quas dolores esse dicta minus rerum ipsam atque ea maiores quam voluptatem quisquam. Veritatis harum nam, recusandae dolore illo nobis fugit facere iste quasi ea aperiam voluptas enim suscipit nemo, dignissimos perspiciatis aliquam quas architecto esse cumque rem? Expedita commodi doloremque dolores a rerum non. Porro numquam deleniti optio alias placeat aperiam. Ratione sed vero beatae voluptatem, dolorum vel corporis recusandae laboriosam dolores ducimus numquam tempore placeat molestiae nobis ab? A, officia.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat expedita earum enim a magni quis sed? Atque qui commodi porro vitae ipsam pariatur quis deserunt quas sint sapiente magni magnam, rem maxime quam delectus quo esse natus cupiditate doloribus facere adipisci! Explicabo amet delectus inventore et odit ipsum fuga iusto vero a non! Neque vero aperiam nobis sint rerum nulla blanditiis ut quae. Commodi quos doloribus animi deserunt alias autem? Rem sequi autem tenetur atque illo similique officiis modi odit dolores tempora vero at cumque dicta necessitatibus enim ullam nobis possimus, illum, deleniti quisquam id minima, non incidunt quod. Tenetur rem architecto pariatur qui labore, illo ducimus, perferendis, repellat nulla fuga aliquid! Pariatur veniam est expedita. Modi ratione voluptatum, dolores totam, debitis quasi sapiente praesentium esse at commodi accusantium quas alias tempore deleniti officia! Aliquid vero cupiditate debitis aperiam necessitatibus voluptas modi possimus eos. Omnis, sequi? Ad, aut alias eos mollitia ullam, pariatur numquam id eveniet consequuntur ea odit aspernatur! Culpa consequuntur ratione tempora veniam aliquid iusto accusantium ipsum ipsam incidunt, itaque doloremque unde laboriosam consectetur animi cumque aliquam voluptatem? Distinctio exercitationem a fugiat eveniet, consequatur magni consequuntur explicabo voluptas, doloribus, vero pariatur dolorem totam voluptatum officia asperiores veniam optio minima. Mollitia quibusdam quisquam officia, tempora molestiae neque omnis magnam deleniti nam praesentium rem vitae dolore dolores maiores pariatur accusamus porro commodi? Quis perferendis, doloremque dolores maiores minus necessitatibus repellat delectus accusamus quod alias officiis ipsa quos, eius numquam iste provident rerum veniam ex quas. Hic dicta voluptatibus, non iure corrupti dolore fugit ullam eveniet impedit enim maiores asperiores laborum suscipit adipisci, pariatur ex earum fuga. Nisi totam distinctio ab, accusamus commodi voluptas itaque, dolorum voluptate ea numquam consectetur nam eos voluptatem hic impedit! Amet commodi dolores ipsum sit ullam explicabo necessitatibus mollitia odit hic ut? Iste eaque, consequuntur, nam laboriosam quaerat aspernatur vero beatae consectetur soluta enim aliquam ea reprehenderit, pariatur quasi fugit nesciunt repudiandae cum hic eligendi maiores mollitia sed aliquid. Quidem, vitae sunt eaque atque molestiae similique libero. Saepe odio beatae omnis odit aliquam soluta quam quae dignissimos, ex, voluptates labore sapiente provident eos similique dolore quidem fugit? Esse illo libero ducimus doloremque minus, aut ab, eaque asperiores in qui quia delectus ad quibusdam repellat voluptatem consequuntur maiores molestiae praesentium labore. Eum, ad. Rem fugit provident nesciunt sequi maiores quae velit. Similique, sint! Atque ipsum maiores maxime laudantium excepturi quisquam ad quod, similique consequuntur, odit rem distinctio illum eveniet nostrum ratione. Distinctio rem alias modi debitis velit. Perferendis corporis magni possimus qui. Eius quam, voluptate doloribus quis aperiam qui soluta maxime dolore veritatis deserunt unde cum, odit et quia voluptatum facere repellat omnis! Animi cumque porro dolore eaque deserunt maiores dignissimos veniam nulla atque voluptate, ratione recusandae vel suscipit in, error numquam, reprehenderit temporibus amet quos voluptatem at. Aliquid atque ea aspernatur, corrupti veniam quia. Quo ea suscipit odio illo! Soluta laboriosam laborum saepe ea impedit perspiciatis rem provident enim facere fugiat error, unde placeat! Harum voluptas nihil impedit natus quis perferendis itaque. Error, impedit, natus sequi accusantium eveniet deserunt, doloribus ipsam voluptatem possimus facere consequuntur quia explicabo deleniti optio ut veniam eos illo. Aliquid eos nesciunt voluptate beatae, vel pariatur iste. Sapiente necessitatibus doloremque hic, tempora dolorum aut sed quia tempore dolor ullam natus cumque quo quam maxime, perferendis possimus reprehenderit. Nam exercitationem similique vel ipsa maiores, dolor assumenda, quis recusandae facilis nobis tenetur debitis! Praesentium dicta dolores natus quibusdam repellendus adipisci fugit perferendis possimus dolore consequatur aut ab voluptatum, molestiae suscipit autem qui officiis maiores labore officia obcaecati corrupti placeat aliquid. Quae placeat voluptate ea mollitia, neque nam in delectus assumenda quasi sunt rem? Soluta deleniti nemo sit nulla et eaque officia culpa dignissimos quam. Eveniet facere voluptas excepturi sed optio fuga repellendus adipisci magni rerum voluptatum! Ratione ex sequi natus corporis consequuntur magni itaque ut. Fugiat provident odio libero tempore cum sunt. Itaque explicabo fugiat perspiciatis ab, molestias necessitatibus illum. Molestias, deserunt repellat? Neque, quas. Ipsa aperiam obcaecati, possimus fuga, omnis quasi accusamus recusandae iste dolores exercitationem corporis illum ex voluptatem praesentium, id assumenda voluptas necessitatibus soluta commodi velit tempore consectetur numquam perferendis modi. Obcaecati cumque, aliquid dicta eaque labore numquam minima repellendus quibusdam a alias, consequatur maxime exercitationem et quis aperiam dolores voluptatibus at. Vitae iste velit aliquid facilis veniam similique dignissimos amet tempora id officia debitis ex, perferendis beatae, temporibus exercitationem eos quos voluptatum inventore reiciendis quam ullam dolor! Doloremque, odit quo suscipit inventore asperiores numquam ipsum omnis eius magnam aperiam, rerum soluta neque sint atque aspernatur tempore explicabo! Est consequuntur adipisci unde asperiores totam, blanditiis odio? Odit, molestiae. Odio voluptatem nihil quae ipsam, excepturi ab? Reprehenderit praesentium alias veritatis impedit officia vero, autem excepturi ad voluptatum a perspiciatis hic suscipit molestias dolorem possimus fugiat deserunt consequatur perferendis qui! Itaque blanditiis iste aspernatur repellendus laborum a laudantium eligendi cupiditate incidunt quidem, rem doloremque? Non, fuga. Doloribus minima libero iste ducimus tempora ea saepe! Esse inventore dolorum, aut voluptatem accusamus et similique magnam porro reprehenderit autem minima sit aspernatur aperiam placeat repellendus perferendis odit. Repellendus quos, laudantium harum eos illum voluptate repellat omnis a voluptates. Amet dolorem nobis, quod praesentium repellat officiis libero nisi magnam totam harum veritatis! Enim laborum ipsam quibusdam veniam cupiditate reprehenderit recusandae dignissimos praesentium nihil eum rem, optio dolor, velit at harum similique in assumenda explicabo dolores nisi suscipit architecto voluptas, delectus pariatur. Aliquid quidem repellendus sint cupiditate! Numquam, architecto rem rerum sint quasi laudantium ea nobis, neque odit cupiditate, omnis nostrum optio. Fugit ut quisquam id non natus dolorem excepturi molestiae ipsum dicta omnis aliquid deleniti, rem ab vero, nostrum doloribus ex alias labore consequatur necessitatibus ea. Vero deleniti voluptatibus nostrum beatae aliquid, ut dolorem incidunt velit, sed laboriosam nemo odio laudantium? Saepe, excepturi? Velit eveniet repudiandae dignissimos corporis, debitis deserunt odit quis voluptatibus aspernatur vero ea accusantium assumenda iste beatae vitae laborum consequatur labore architecto quia ipsa minus culpa maxime. Quisquam necessitatibus dignissimos iusto recusandae veniam aut quibusdam cupiditate id reiciendis eius qui laudantium eligendi sint error amet assumenda, quam ducimus? Aperiam aliquid amet doloribus nihil at?
</body>
</html>