<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
<script src="https://kit.fontawesome.com/2a174a6d4c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css">
<script src="https://cdn.tailwindcss.com"></script>
<title>Tainy</title>
</head>
<body>
    
    
    <header class="header">
        <div class="context-perfil">
            <div class=" flex mx-auto justify-between border-b-2 items-center shadow-xl">
                <div class="title">
                    <a href="/" class="m-2 text-3xl block">Tainy</a>
                </div>
                <div class="ajustes flex items-center">
                    <span class="">Daniel</span>
                    <div class="img">
                        <figure class="">
                            <picture class="rounded-full w-12">
                                <img src="./enento3.jpg" alt="" class="rounded-full w-12 m-2 h-12">
                        </figure>
                    </div>
        
                </div>
            </div>
        </div>
    </header>
    <main class="perfil-content">
        <aside class="border pl-2 pr-2 mr-5">
            <ul class="mt-4">
                <li>
                    <a href=""
                    class="bg-perfil">
                        <i class="fas fa-home"></i>
                        Perfil
                    </a>
                </li>
                <li>
                    <a href="" class="bg-perfil">
                        <i class="fas fa-home"></i>
                        Mis Publicaciones 
                    </a>
                </li>
                <li>
                    <a href="" class="bg-perfil">
                        <i class="fas fa-home"></i>
                        Historial
                    </a>
                </li>
            </ul>
        </aside>
        <div class="content-perfil container mx-auto">
            <div class="perfil-data">
                <div class="perfil-data-g">
                    <div class="perfil-data-img">
                        <figure class="">
                            <picture class="rounded-full w-12 ">
                                <img src="./enento3.jpg" alt="" class="rounded-full w-32 m-2 h-32 pictureimg">
                        </figure>
                    </div>
                    <div class="perfil-data-info">
                        <h1 class="text-2xl font-bold mx-12 block p-1">Daniel Ospina</h1>
                        <p class="text-xl mx-12 block p-1 text-gray-600">
                            Nombre: Juan Daniel ospina
                        </p>
                        <p class="text-xl mx-12 block p-1 text-gray-600">
                            Apellido: Ospina Ortiz
                        </p>
                        <p class="text-xl mx-12 block p-1 text-gray-600">
                            Correo: correo
                        </p>
                        <p class="text-xl mx-12 block p-1 text-gray-600">
                            Telefono: Juan Daniel ospina
                        </p>
                        <p class="text-xl mx-12 block p-1 text-gray-600">
                            Edad: 19 Años
                        </p>
                    </div>
                </div>
                <div class="updata-info">
                    <div class="tite text-center font-bold text-2xl m-3">Actualizar información</div>
                    <form action="">
                        <div class="inputs">
                            <div class="input">
                                <input type="text" placeholder="Nombre" name="nombre" required
                                class="border outline-none w-11/12 p-2 rounded m-3 focus:border-[#9f10e6]">
                            </div>
                            <div class="input">
                                <input type="text" placeholder="Apellido" name="nombre" required
                                class="border outline-none w-11/12 p-2 rounded m-3 focus:border-[#9f10e6]">
                            </div>
                            <div class="input">
                                <input type="text" placeholder="Telefono" name="nombre" required
                                class="border outline-none w-11/12 p-2 rounded m-3 focus:border-[#9f10e6]">
                            </div>
                            <div class="input">
                                <input type="text" placeholder="Correo" name="nombre" required
                                class="border outline-none w-11/12 p-2 rounded m-3 focus:border-[#9f10e6]">
                            </div>
                            <div class="input">
                                <input type="text" placeholder="Edad" name="nombre" required
                                class="border outline-none w-11/12 p-2 rounded m-3 focus:border-[#9f10e6]">
                            </div>
                           <div class="upload bg-gray-200 w-11/12 p-2 m-3 rounded text-center upointer relative">
                            <div class="span">Subir imagen <i class="fas fa-upload"></i></div>
                                <input type="file" placeholder="Imagen" name="nombre" required
                            class="absolute inset-0 w-full opacity-0 cursor-pointer">
                            
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</html>