<!DOCTYPE html>
<html lang="en">
<head>
   <%-  include("header.ejs") %> 
</head>
<body>

    <header class="bg-[#D6F3FF]">
        <div class="container mx-auto  flex justify-between items-center ">
        
            <div class="title text-4xl font-bold m-2">
                <h1>Tayni</h1>
            </div>
            <div class="searchBuscador flex  barra-search bg-white overflow-hidden p-1 ">
                <div class="input_search w-full">
                    <input type="text" placeholder="Buscar concierto" autocomplete="off" pattern="" autofocus
                        class="serch-class" id="classInput">
        
                </div>
                <div class="config-search">
                    <div class="searhIcon"  id="microphone">
                        <figure class="px-1 cursor-pointer">
                            <img src="image/microphone.png" alt="">
                        </figure>
                    </div>
                    <div class="searhIcon">
                        <figure class="px-2 cursor-pointer">
                            <img src="image/search.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="help-content-items my-2">
                <ul class="flex items-center">
                    <li class="mx-1 tolpi">
                        <a href="/ayuda" class="tolpis">
                            <figure>
                                <img src="image/help.png" alt="" class="helpo">
                              </figure>
                            </a>
                            <span>Contactar con atención al cliente</span>
                    </li>
                    <li class="mx-1"><a href="/login" class="links2
                    px-5 text-black">Iniciar sesion</a></li>
                    <li class="mx-1"><a href="/login" class="links2 bg-cuenta">Hazte una cuenta</a></li>
                </ul>
            </div>
        </div>
        <div class="hero_header flex justify-between  container mx-auto mt-12  ">
            <div class="left-hero">
                <article>
                    <h1 class="text-title mb-6">Encuentra tu proximo concierto y conoce los beneficios</h1>
                    <p class="text-2xl">Encuentra tu proximo concierto y conoce los beneficios</p>
                    <a href="/login" class="border-code">Comenzar <i class="fas fa-arrow-right"></i></a>
                </article>
            </div>
            <div class="cubos-hero">
                <div class="cuadros">
                    <div class="carrusel-Automatic">
                        <div class="efecto-blur">

                        </div>
                           <div class="carrusel" id="carrusel__imagenes">
                            
                           
                            
                           </div>
                    </div>
                    <div class="hero_cuadro2">
                        <div class="hero-cuadro-d">
                            <!-- text -->
                        </div>
                        <div class="hero-cuadro-t">
                            <!-- text -->
                        </div>
                    </div>

                </div>
                <div class="cuadro-end">
                    <div class="cuadro-end-1">
                      
                    </div>
                    <div class="cuadro-end-2">
                        <!-- text -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        
      <div class="publicImage">
        <h2>Encuentra el lugar adecuado para ti</h2>
        <div class="img_public">
            <img src="image/static.png" alt="">
        </div>
    </div>
    
    <div class="cardParalaxx publicImage">
     
        <div class="cards-paralaxx  addCoursel" id="container-paralaxx">
            <img src="/image/con4.jpg" alt="" id="img1" >
            <img src="/image/con2.jpg" alt="" id="img2" >
            <img src="/image/enento3.jpg" alt="" id="img3" >
            <img src="/image/evento2.jpg" alt="" id="img4" >
            <img src="/image/enento3.jpg" alt="" id="img5" >
            <img src="/image/evento1.jpg" alt="" id="img6" class="conrParalaxx ">
        </div>
        <div class="publicImage delete" id="title">
            <h2>Mas eventos para a tu gusto</h2>
        </div>
        <div class="content-pkk">
            <div class="imgParalaxx " id="thirdImage" >
                <img src="/image/movil.png" alt="" id="imagenK" class="imgcount">
            </div>
          
            <div class="gallery-image" class="cunt-j ">
              <h5  class="cunt-j "><strong>Mas conciertos</strong></h5 >
              <p class="cunt-j ">Elige el que mas te guste</p>
                <div class="galerry">
                    <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j "> 
                </div>
            </div>
            <div class="gallery-image2">
                <img src="/image/evento2.jpg" alt="" class="cunt-j ">
                <img src="/image/evento2.jpg" alt="" class="cunt-j ">
                <img src="/image/evento2.jpg" alt="" class="cunt-j ">
                <img src="/image/evento2.jpg" alt="" class="cunt-j ">
                <img src="/image/evento2.jpg" alt="" class="cunt-j ">
            </div>
            <div class="gallery-r">
                <div class="little" >
                    <h1 class="cunt-j ">Tainy</h1>
                </div>
                <div class="items">
                    <a href="" class="cunt-j ">Crea</a>
                    <a href="" class="cunt-j ">Conoce</a>
                    <a href="" class="cunt-j ">Disfuta</a>
                    <a href="" class="cunt-j ">Comparte</a>
                </div>
            </div>
            <div class="galerry-image4">
                <span class="cunt-j "> Tainy</span>
                <span class="cunt-j "><i class="fas fa-solid fa-align-justify"></i></span>
            </div>
            <div class="gallery-image3">
                <h5 class="cunt-j "><strong>Mas conciertos</strong></h5 >
                    <p class="cunt-j ">Elige el que mas te guste</p>
                <div class="tec">
                    <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                </div>
               
             <div class="tec">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
                <img src="/image/evento1.jpg" alt="" class="cunt-j ">
             </div>
            </div>
        </div>
    </div>
    <div class="cards-concert">
        <h3>Nuevos Conciertos</h3>
        <p>Elige el que mas te guste </p>
        <!-- <h3>Conciertos Destacados</h3>
        <p>Estos conciertos son muy populares y tienen mucho que ofrecer</p> -->
    </div>
    <div class="gfh">
        <div class="direccione-cops">
            <button class="btn_atras"><i class="fas fa-angle-left"></i></button>
            <button class="btn_adelante"><i class="fas fa-angle-right"></i></button>
    
        </div>
        <div class="content-cards-slider">
    
            <div class="cards-slider-cop" id="cardsPublicTainy">
               
            </div>
           <div class="contenedor-more">
               <div class="link_list">
                <a href="">Ver más...</a>
               </div>
           

           </div>
        </div>
    </div>
    <div class="cards-concert">
        <h3>Todos los conciertos</h3>
        <p>Busca el mejor evento para ti </p>
    </div>
    <div class="gfh">
        <div class="direccione-cops">
            <button class="btn_atras"><i class="fas fa-angle-left"></i></button>
            <button class="btn_adelante"><i class="fas fa-angle-right"></i></button>
    
        </div>
        <div class="content-cards-slider">
    
            <div class="cards-slider-cop" id="cardsPublicTainy2">

            </div>
            <div class="contenedor-more">
                <div class="link_list">
                    <a href="">Ver más...</a>
                </div>
            
            
            </div>
        </div>
    </div>
    <div class="infotec">
        <div class="image" data-aos="zoom-in-right">
            <img src="/image/celphone.png" alt="" class=" ">
        </div>
        <div class="infodesc" data-aos="zoom-in-left">
            <h2>Encuentra tus eventos más rapidos </h2>
             <p>!Podras encontrar más rápido los conciertos  de tu preferencia por medio de un filtro 
                 de tus últimas busquedas en tainy optimizando tu tiempo!
             </p>

        </div>
    </div>
    <div class="infotect ltr-count">
        <div class="infodesc" data-aos="zoom-in-left">
            <h2>Sube tus eventos  </h2>
             <p>!Punlica tus mejores eventos para poder llegar a más usuarios en la plataforma! </p>

        </div>
        <div class="image" data-aos="zoom-in-right">
            <img src="/image/celphone2.png" alt="" class=" ">
        </div>
    </div>
    <div class="title-slider">
        Elige tu concierto y cantante favorito
    </div>
   <div class="sliderCount-2">
    <div class="cliPaht">
    </div>
    <div class="cliPaht2">
    </div>
    <div class="sliderContent-funny">
        <div class="sliderImg fade">
            <img src="/image/con1.jpg" alt="">
        </div>
        <div class="sliderImg fade">
            <img src="/image/con2.jpg" alt="">
        </div>
        <div class="sliderImg fade">
            <img src="/image/con4.jpg" alt="">
        </div>
    
        <div class="sliderDirecciones">
            <span class="before" onclick="afterSlider(-1)">&#10094;</span>
            <span class="after" onclick="afterSlider(1)">&#10095;</span>
        </div>
        <div class="barraSlider">
            <span class="barra active" onclick="positionSlider(1)"></span>
            <span class="barra" onclick="positionSlider(2)"></span>
            <span class="barra" onclick="positionSlider(3)"></span>
        </div>
    </div>
    <div class="sliderContent-funny">
        <div class="sliderImg2 fade">
            <img src="/image/cant1.jpg" alt="">
        </div>
        <div class="sliderImg2 fade">
            <img src="/image/cant2.jpg" alt="">
        </div>
        <div class="sliderImg2 fade">
            <img src="/image/cant3.jpg" alt="">
        </div>
    
        <div class="sliderDirecciones">
            <span class="before" onclick="afterSlider2(-1)">&#10094;</span>
            <span class="after" onclick="afterSlider2(1)">&#10095;</span>
        </div>
        <div class="barraSlider">
            <span class="barra2 active2" onclick="positionSlider2(1)"></span>
            <span class="barra2" onclick="positionSlider2(2)"></span>
            <span class="barra2" onclick="positionSlider2(3)"></span>
            
        </div>
    </div>
    <div class="curvaSlider"></div>
  
    
   </div>
    </main>
    <footer class="footter__count">
        <div class="wave w1">
            <img src="/image/wave.svg" alt="">
        </div>
    
        <div class="fother-container-todo">
            <div class="footer-first">
                <div class="footer-tittle">
                    <span>Tainy </span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit iusto harum praesentium vero numquam
                        illo, fugit deleniti minima non mollitia.</p>
                </div>
                <div class="subscri__fotter">
                    <form action="">
                        <input type="text" class="subs" name="subs" required placeholder="Email..">
                        <button>Suscribirse</button>
                    </form>
                </div>
            </div>
            <div class="count-content-footer">
                <div class="footer-second-redes">
                    <span class="foother-kjk">Siguenos en nustras redes:</span>
                    <div class="links-redes">
                        <span><a href="" class="f1"><i class="fa fa-facebook"></i> Facebook</a></span>
                        <span><a href="" class="f2"> <i class="fa fa-twitter"></i> Twitter</a></span>
                        <span><a href="" class="f3"><i class="fa fa-instagram"></i> Instagram</a></span>
                        <span><a href="" class="f4"><i class="fa fa-linkedin"></i> LinkedIn</a></span>
                        <span><a href="" class="f5"><i class="fa fa-discord"></i> Discord</a></span>
                    </div>
                </div>
                <div class="conuter-ajustes">
                    <div class="ul-first htld">
    
                        <ul>
                            <li><a href="" class="b1">Eventos Destacados <i class="fas fa-angle-right"></i></a></li>
                            <li><a href="" class="b2">Eventos nuevos<i class="fas fa-angle-right"></i></a></li>
                            <li><a href="" class="b3">Populares<i class="fas fa-angle-right"></i></a></li>
                            <li><a href="" class="b4">Mejores Calificaciones<i class="fas fa-angle-right"></i></a></li>
                            <li><a href="" class="b5">Cantantes <i class="fas fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="datos-foother ul-first">
                    <div class="foo-d1">
                        <h2>Calificaciones en tecnologia</h2>
                        <p>Ninguna</p>
                    </div>
                    <div class="foo-d1">
                        <h2>Reconocimientos</h2>
                        <p>Sin reconocimientos</p>
                    </div>
    
                </div>
                <div class="ul-first htld">
                    <h2>Mas...</h2>
                    <ul>
                        <li><a href="" data-idA="1" aria-details="text" id="link-r" class="link-d b1"
                                tabindex="todo">Quienes somos <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="" data-idA="1" aria-details="text" id="link-r" class="link-d b2" tabindex="todo">Ayuda
                                <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="" data-idA="1" aria-details="text" id="link-r" class="link-d b3" tabindex="todo">Como
                                funciona Tainy <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="" data-idA="1" aria-details="text" id="link-r" class="link-d b4"
                                tabindex="todo">Ayudanos a mejorar nustra pagina <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="" data-idA="1" aria-details="text" id="link-r" class="link-d b5" tabindex="todo">Hola
                                <i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </div>
    
            </div>
            <div class="options--footer">
                <div class="ul-h">
                    <ul>
                        <li><a href="" class="">Términos Y condiciones</a></li>
                        <li><a href="" class="cv">Privacidad</a></li>
                        <li><a href="" class="cv">Seguridad</a></li>
                        <li><a href="" class="cv">Tranbaja con nosotros</a></li>
                        <li><a href="" class="cv">Preguntas frecuentes</a></li>
                    </ul>
                </div>
                <div class="rithg">
                    <p>&copy; Todos los derechos reservados ❤ | Tainy</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1500
        });
    </script>
    <!-- bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 -->
 <script src="/js/moment.js"></script>
 <script src="/js/publicacionesHome.js"></script>
 <script src="/js/script.js"></script>
 <script src="./js/paralaxx.js"></script>
</body>
</html>