<h1>Rama listEventos</h1>
<main>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
margin: 0;
padding: 0;
}

.ofertas{
margin: 30px 0 0 0;
}
.texto-ofertas{
margin: 0 0 15px 10px;
}
.ofertas img{
display: flex;
margin: 5px;
height: 90px;
width: 90px;
border-radius: 15px;
}
.oferta-boton{
border: 4px solid #c6c6c6;
background-color: #c6c6c6;
border-radius: 3px;
cursor: pointer;
margin-top: 8px;
}
.info-ofertas{
text-align: center;
margin: 25px 0 25px 0;
}
.descuentos{
border: 8px solid black;
border-radius: 20px;
display: flex;
background: #F9F9F9;    
}
section{
margin: 20px 0;
}
.texto-conciertos{
margin: 0 0 15px 10px;
}
.concierto-container{
display: flex;
border: 10px solid #ffffff;
background-color: #ffffff;
border-radius: 10px;
}
.concierto-individual{
width: 200px;
height: 338px;
background: linear-gradient(132.29deg, #3111B4 25.37%, #9317CE 97.61%);
border: 1px solid #9E9999;
border-radius: 10px;
margin: 20px 0 20px 30px;
}
.concierto-individual h2{
font-size: 24px;
color: white;
margin-left: 9px;
}
.concierto-individual p{
font-size: 16px;
color: #DDD6D6;
margin-top: 5px;
margin-left: 9px;
}
.concierto-individual img{
width: 200px;
}
.concierto-individual button{
background: #D9D9D9;
border: 1px solid #D9D9D9;
border-radius: 50px;
width: 136px;
height: 37px;
margin: 15px 0 40px 10px;
font-size: 15px;
cursor: pointer;
}
section .image{
margin: 20px 0 20px 30px;
}
.ver-mas{
position: absolute;
width: 111px;
height: 103px;
margin: 137px 35px 137px 980px;
background: linear-gradient(148.34deg, #7E257A 3.6%, rgba(49, 17, 180, 0.57) 80.93%);
border-radius: 10px;
color: white;
font-size: 20px;
cursor: pointer;
border: 0px;
}
    </style>
    <div class="publicImage">
        <div class="img_public">
            <img src="image/static.png" alt="">
        </div>
    </div>

    <div class="cards--ctn">
        <div class="ofertas">
    <div class="texto-ofertas">
        <h1>Ofertas</h1>
        <p>Promociones para ti</p>
    </div>
    <div class="descuentos">
        <img src="image/ofertas.jpg" alt="Concierto">
        <div class="info-ofertas">
            <p>Ahorra un 20% de descuento</p>
            <button class="oferta-boton">Descubrir más ofertas</button>
        </div>
    </div>
</div>
<section>
    <div class="texto-conciertos">
        <h1>Conciertos Destacados</h1>
        <p>Estos conciertos son muy populares y tienen mucho que ofrecer</p>
    </div>
    <div class="concierto-container">
        <div class="concierto-individual">
            <img src="image/conciertos.png" alt="">
            <h2>Concierto las palmas</h2>
            <p>Armenia</p>
            <button>Adquirir ahora</button>
        </div>
        <div class="concierto-individual">
            <img src="image/conciertos.png" alt="">
            <h2>Concierto las palmas</h2>
            <p>Armenia</p>
            <button>Adquirir ahora</button>
        </div>
        <div class="concierto-individual">
            <img src="image/conciertos.png" alt="">
            <h2>Concierto las palmas</h2>
            <p>Armenia</p>
            <button>Adquirir ahora</button>
        </div>
        <div class="concierto-individual">
            <img src="image/conciertos.png" alt="">
            <h2>Concierto las palmas</h2>
            <p>Armenia</p>
            <button>Adquirir ahora</button>
        </div>
        <div class="image">
             <img src="image/vermas.jpg" alt="" width="151px" height="338px">
        </div>
        <button class="ver-mas">
            <span class="material-symbols-outlined">chevron_right</span>
            <p>Ver más</p>
        </button>
    </div>
</section>
<section>
    <div class="texto-conciertos">
        <h1>Conciertos</h1>
        <p>Elige el que mas te guste</p>
    </div>
    <div class="concierto-container">
        <div class="concierto-individual">
            <img src="image/conciertos.png" alt="">
            <h2>Concierto las palmas</h2>
            <p>Armenia</p>
            <button>Adquirir ahora</button>
        </div>
        <div class="concierto-individual">
            <img src="image/conciertos.png" alt="">
            <h2>Concierto las palmas</h2>
            <p>Armenia</p>
            <button>Adquirir ahora</button>
        </div>
        <div class="concierto-individual">
            <img src="image/conciertos.png" alt="">
            <h2>Concierto las palmas</h2>
            <p>Armenia</p>
            <button>Adquirir ahora</button>
        </div>
        <div class="concierto-individual">
            <img src="image/conciertos.png" alt="">
            <h2>Concierto las palmas</h2>
            <p>Armenia</p>
            <button>Adquirir ahora</button>
        </div>
        <div class="image">
             <img src="image/vermas.jpg" alt="" width="151px" height="338px">
        </div>
        <button class="ver-mas">
            <span class="material-symbols-outlined">chevron_right</span>
            <p>Ver más</p>
        </button>
    </div>
</section>
    </div>
    <style>
        *{
margin: 0;
padding: 0;
}

.contenedor{
width: 100%;
height: 100vh;
margin-bottom: 20px;
}

.caja1{
width:100%;
height:100vh;
display: flex;
align-items: center;
flex-direction:column;
justify-content:space-around;
background: linear-gradient(180deg, rgb(132, 0, 255), rgb(255, 255, 255) 30% );
}

.caja1 .imagen img{
width: 200px;
height:150px;

}

.logo p{
font-size:24px;
color: white;
}

.logo{
display: flex;
width: 100%;
justify-content:space-around;
}

.containerr{ 
display: flex;
justify-content:space-around;
align-items:center;
width: 100%;
height:20vh;

}

.caja{
background-image: url(image/imagen88.jpg);
width: 200px;
border-radius:10px;
background-size: cover;
height: 250px;
box-shadow: 4px 4px 4px 4px  rgba(201, 201, 201, 0.452);
}

.contenedor-cajas{
width: 77%;
display: flex;
justify-content:space-around;
}

.caja p{
color: white;
font-size:30px
}

.caja a{
font-size: 15px;
display: flex;
align-items:center;
justify-content: center;
color: white;
width: 100px;
border-radius:10px;
height:30px;
text-decoration: none;
display: flex;
background:linear-gradient(110deg, rgb(125, 0, 209), rgb(255, 255, 255));
margin-top: 10px;
}

.caja .contenido{
display: flex;
margin-left: 10px;
height: 240px;
justify-content:end;
flex-direction: column;
width: 180px;
}

.ciudades{
width: 61%;
display: flex;

}

.linea{
width: 622px ;
height: 2px;
margin-top: 73px;
background-color: rgb(160, 160, 160);
margin-bottom:40px;
}

.caja-ciudades{
display: flex;
align-items:center;
}
.caja-linea .texto p{
height:30px;
width: 70px;
display:flex;
align-items:center;
border: 2px solid  rgb(125, 0, 209);
background-color: white;
color:  rgb(125, 0, 209);

}
.ciudades-concierto{
width: 100%;
display:flex;
background-color:red
}
.caja-conciertos{
height: 23vh;
width: 50%;
display: flex;

}
.caja-conciertos .primera{
border:3px solid rgb(201, 201, 201);
background-color:white;
height: 40px;
width:120px;
margin-left: 20px;
border-radius:10px;
margin-bottom: 22px;
margin-top: 20px;
box-shadow: 1px 1px 1px 1px  rgba(201, 201, 201, 0.466);
}

.caja-conciertos .segunda{
border:3px solid rgb(201, 201, 201);
background-color:white;height: 40px;
width:120px;
border-radius:10px;
height: 40px;
width:120px;
border-radius:10px;
margin-bottom: 22px;
margin-left: 45px;
margin-top: 20px;
box-shadow: 1px 1px 1px 1px  rgba(201, 201, 201, 0.466);
}
.primera p{
margin-left: 7px;
}

.segunda p{
margin-left: 7px;
}

.caja-conciertos {
width:696px; 
border-bottom: 30px;
border-radius:7px;
background-color:rgb(255, 255, 255);
box-shadow: 4px 4px 4px 4px  rgba(201, 201, 201, 0.336);
}

.cajas-ciudades{
display: flex; 
justify-content:space-between;
width: 175px;
margin-bottom:20px;
height:0px 



}

.primeras{
height:200px;
}

.ciudades .cajas-ciudades{
height:200px;


}
.linea-footer{
height:2px;
width:100%;
margin-bottom: 40px;
background:linear-gradient(140deg, rgb(132, 37, 196), rgb(179, 175, 175));
}

footer .info{
height:140px;
width: 200px;
margin-left: 190px;

}
footer .info2{
height:140px;
width: 200px;

}
footer .info3{
margin-right: 160px;
height:140px;
width: 200px;

}

footer {
display: flex;
justify-content: space-around;
height:30vh;
width: 100%;
align-items:center;
}

.info{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.info a{
text-decoration: none;
color: black;
}

.info2{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.info2 a{
text-decoration: none;
color: black;
}

.info3{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.info3 a{
text-decoration: none;
color: black;
}
.copy{
display: flex;
align-items: center;
justify-content:center;
width: 64%;
}

.ultimo{
width: 100%;
height: 80px;
margin-top: 30px;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(110deg, rgb(132, 0, 255), rgb(212, 0, 255) 30% ), rgb(132, 0, 255);

}

.ultimo p{
font-size:50px;


}
    </style>
    <div class="contenedor">

        <div class="caja1">
        
        <div class="logo">
        
        <p>Conoce las mejores ofertas <br> que tenemos para ti</p>
        <div class="imagen">
        <img src="image/imagen88.jpg" alt="">
        </div>
        </div>
        
        
        <div class="container">
          <div class="contenedor-cajas">
        <div class="caja">
          <div class="contenido">
        <p>Concierto en armenía coliseo de café</p>
        <a href="">Adquirir ahora</a>
        </div>
        </div>
        
        <div class="caja">
          <div class="contenido">
        <p>Concierto en armenía coliseo de café</p>
        <a href="">Adquirir ahora</a>
        </div>
        </div>
        
        <div class="caja">
          <div class="contenido">
        <p>Concierto en armenía coliseo de café</p>
        <a href="">Adquirir ahora</a>
        </div>
        </div>
        
        </div>
        </div>
        
        
        <div class="ciudades">
          <div class="conciertos">
          
        <h1>Concierto segun tu ciudad</h1>
        <div class="caja-ciudades">
          
        <div class="caja-linea">
        <div class="texto">
         <p>Ciudades</p>  
        </div>
        </div>
        
        <div class="linea"> </div>
        </div>
        
        
        <div class="caja-conciertos">
        <div class="cajas-ciudades">
        <div class="primeras">
        <div class="primera"><p><b>Armenia<br></b>102 lugares</p></div>
        <div class="primera"><p><b>Pereira</b><br>22 lugares</p></div>
        <div class="primera"><p><b>Cali</b><br>16 lugares</p></div>
        </div>
        <div class="segundas">
        <div class="segunda"><p><b>Medellin</b><br> 45 lugares</p></div>
        <div class="segunda"><p><b>Bogota</b><br>159 lugares</p></div>
        <div class="segunda"><p><b>Manizales</b><br>13 lugares </p></div>
        </div>
        </div>
        
        
        </div>
        </div>
        </div>
        </div>
        <div class="linea-footer">
        </div>
        
        <footer>
        
        
        <div class="info">
        <h1> <b>Ayuda</b></h1>
        <a href="">Acerca de nosotros</a>
        <a href="">Como funciona tayni</a>
        <a href="">Trabaja con nosotros</a>
        
        </div>
        <div class="info2">
         <h1><b>Ajustes</b></h1>
         <a   href="">Terminos y condiciones</a>
         <a  href="">Privacidad</a>
         <a  href="">Informacion legal</a>
         <a  href="">Seguridad Cibernetica</a>
        </div>
        <div class="info3">
        <h1><b>Contactanos</b></h1>
        
        <a href="">Facebook</a>
        <a href="">Instagram</a>
        <a href="">+57 4342512</a>
        <a href="">Tayni@gmail.Com</a>
        </div>
        
        
        </footer>
          <div class="copy">
          &#169Copyright 2022  Tayni|Todos los derechos reservados
        </div>
</main>
<%- include("./chat.ejs") %> 

