<!DOCTYPE html>
<html lang="en">
<head>
   <%-  include("header.ejs") %> 
</head>
<body>

    <header class="bg-[#D6F3FF]">
        <div class="container mx-auto  flex justify-between items-center ">
        
            <div class="title text-4xl font-bold m-2">
                <h1>Tayni</h1>
            </div>
            <div class="searchBuscador flex  barra-search bg-white overflow-hidden p-1 ">
                <div class="input_search w-full">
                    <input type="text" placeholder="Buscar concierto" autocomplete="off" pattern="" autofocus
                        class="serch-class" id="classInput">
        
                </div>
                <div class="config-search">
                    <div class="searhIcon"  id="microphone">
                        <figure class="px-1 cursor-pointer">
                            <img src="image/microphone.png" alt="">
                        </figure>
                    </div>
                    <div class="searhIcon">
                        <figure class="px-2 cursor-pointer">
                            <img src="image/search.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="help-content-items my-2">
                <ul class="flex items-center">
                    <li class="mx-1 tolpi">
                        <a href="/ayuda" class="tolpis">
                            <figure>
                                <img src="image/help.png" alt="" class="helpo">
                              </figure>
                            </a>
                            <span>Contactar con atención al cliente</span>
                    </li>
                    <li class="mx-1"><a href="/login" class="links2
                    px-5 text-black">Iniciar sesion</a></li>
                    <li class="mx-1"><a href="/login" class="links2 bg-cuenta">Hazte una cuenta</a></li>
                </ul>
            </div>
        </div>
        <div class="hero_header flex justify-between  container mx-auto mt-12  ">
            <div class="left-hero">
                <article>
                    <h1 class="text-title mb-6">Encuentra tu proximo concierto y conoce los beneficios</h1>
                    <p class="text-2xl">Encuentra tu proximo concierto y conoce los beneficios</p>
                    <a href="" class="border-code">Comenzar <i class="fas fa-arrow-right"></i></a>
                </article>
            </div>
            <div class="cubos-hero">
                <div class="cuadros">
                    <div class="carrusel-Automatic">
                        <div class="efecto-blur">

                        </div>
                           <div class="carrusel">
                            <div class="img1">
                                <img src="/image/evento1.jpg" alt="">
                            </div>
                            <div class="img1">
                                <img src="/image/evento2.jpg" alt="">
                            </div>
                            <div class="img1">
                                <img src="/image/enento3.jpg" alt="">
                            </div>
                            <div class="img1">
                                <img src="/image/evento1.jpg" alt="">
                            </div>
                            
                           </div>
                    </div>
                    <div class="hero_cuadro2">
                        <div class="hero-cuadro-d">
                            <!-- text -->
                        </div>
                        <div class="hero-cuadro-t">
                            <!-- text -->
                        </div>
                    </div>

                </div>
                <div class="cuadro-end">
                    <div class="cuadro-end-1">
                      
                    </div>
                    <div class="cuadro-end-2">
                        <!-- text -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
      <div class="publicImage">
        <h2>Encuentra el lugar adecuado para ti</h2>
        <div class="img_public">
            <img src="image/static.png" alt="">
        </div>
    </div>
    <div class="cardParalaxx publicImage">
     
        <div class="cards-paralaxx" id="container-paralaxx">
            <img src="/image/enento3.jpg" alt="" id="img1">
            <img src="/image/enento3.jpg" alt="" id="img2">
            <img src="/image/enento3.jpg" alt="" id="img3">
            <img src="/image/enento3.jpg" alt="" id="img4">
            <img src="/image/enento3.jpg" alt="" id="img5">
            <img src="/image/enento3.jpg" alt="" id="img6" class="conrParalaxx">
        </div>
        <div class="publicImage delete" id="title">
            <h2>Encuentra Tu concierto mas rapido</h2>
        </div>
        <div class="imgParalaxx  activef" id="thirdImage" >
            <img src="/image/movil.png" alt="" id="imagenK" class="imgParalaxx  activef">
        </div>
    </div>
    </main>
    <!-- bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 -->
 <script src="/js/script.js"></script>
 <script src="./js/paralaxx.js"></script>
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae a consectetur ratione esse quam minima, harum tempora ipsa suscipit quasi ipsam quos sunt sit corrupti ea qui dignissimos odio reiciendis, nam repellendus est ut! Amet, a soluta dicta, adipisci provident quidem minima sint nostrum sapiente deleniti expedita atque, vitae tenetur molestiae illo impedit accusantium! Cumque iusto soluta totam debitis nam harum nihil ex rerum, exercitationem odit eligendi ipsa, non perspiciatis sed modi omnis rem nesciunt cum deserunt atque! Ut quae omnis dolor. At id perspiciatis ratione reprehenderit qui, corporis consequatur tempora blanditiis porro! Consectetur iusto aliquid nemo nostrum obcaecati blanditiis cum laborum, sed corrupti eaque dolorum, magni vero vitae provident. Neque tenetur enim ipsam expedita voluptates necessitatibus repellendus impedit maxime aperiam aspernatur beatae possimus quasi accusantium molestiae natus, quo quas tempora ad in reiciendis adipisci iste quisquam! Nemo earum facere corrupti ex quae unde nisi autem recusandae debitis mollitia ducimus, magnam, est consequuntur et tempore odio maxime velit aliquam, repellendus adipisci. Beatae corporis praesentium mollitia voluptate eos consectetur earum quis ea officia? Quia numquam deserunt, magnam natus, exercitationem sequi tenetur suscipit perferendis eos maiores aspernatur nobis est beatae? Nisi consectetur sapiente quia magni numquam earum! Adipisci corporis dignissimos laudantium cupiditate tempore ab numquam, necessitatibus voluptatibus, laboriosam minima voluptatum corrupti autem, molestias maiores porro sed. Debitis quos modi nostrum nesciunt quae minima possimus omnis suscipit sint quod earum velit ipsa commodi corrupti molestias magni rerum qui deserunt vel quam, sed odio natus ut consequatur? Sint doloremque ducimus quo commodi laborum nulla. Aut, voluptate dolore in voluptatem molestiae quisquam non perspiciatis hic laborum atque quam modi est aliquam sunt consequatur harum rerum ipsum veniam reiciendis quibusdam. Ratione provident ipsum voluptatem. Voluptate ducimus quibusdam commodi. Libero ratione repudiandae expedita recusandae tenetur dolorum nulla quia eius perspiciatis odit itaque quas sequi porro exercitationem iste pariatur, nobis rem sint rerum omnis blanditiis? Dignissimos nulla suscipit obcaecati omnis eaque! Voluptatem totam consectetur repellat quibusdam delectus officiis atque eveniet sunt rem quis eum, tenetur blanditiis facilis? Cumque eum iusto ut distinctio necessitatibus ipsa impedit recusandae adipisci neque autem optio, iste numquam, accusantium voluptatem quasi ullam consectetur earum rem. Facere sed dolore nesciunt quis minima similique ea, repellat voluptates nemo nobis natus repellendus deleniti rerum minus reprehenderit, molestiae quod aut nisi, omnis debitis? Cum similique vel consequatur, rem fugiat repellendus reprehenderit omnis modi corrupti impedit maxime id adipisci aspernatur nisi doloribus in quidem ratione odio. Deleniti facere maxime itaque laborum, assumenda, corporis magnam, rem debitis cupiditate quia enim et a? Odio libero repellendus quia soluta voluptate aspernatur non modi! Natus aspernatur accusantium maxime. Necessitatibus ducimus culpa repellendus veritatis quo velit recusandae, temporibus dolore atque sint? Veniam quos facilis magni sunt, quaerat quam sint, rerum animi est reiciendis ipsum quibusdam consequatur minus sequi quasi cupiditate distinctio fuga corporis! Natus nam exercitationem repellat omnis, eos modi dicta quia iusto dignissimos atque sequi aliquam numquam repudiandae expedita aspernatur. Veniam ea laboriosam expedita itaque. Voluptatibus quas officiis architecto minus exercitationem aliquam quidem quaerat esse sequi ipsam! Obcaecati quo, laudantium iusto quia voluptas harum veniam, in corrupti autem reprehenderit molestiae totam numquam? Sit tempora unde dolor iusto nulla! Eum voluptatum dolorum rerum non. Doloribus dolor fuga ipsum maxime magnam cum, repellat aut ducimus. Ab, provident blanditiis esse voluptatem aut commodi error temporibus, quis, dolor alias quasi expedita? Repellendus, necessitatibus a. Nemo voluptas mollitia voluptatem quia nostrum accusantium nobis architecto delectus eum praesentium cupiditate illum aperiam dolore tempora expedita doloremque possimus magnam amet ex, minus hic. Eius non sit qui alias repellat ab, id, quae assumenda voluptate, nisi a vitae necessitatibus mollitia veniam. Rerum nihil amet debitis cum pariatur commodi perferendis blanditiis odio quisquam voluptatum, laborum molestias, itaque qui incidunt eius nisi provident! Accusantium eligendi voluptates atque nulla, saepe perferendis sint totam, eaque nobis veniam expedita vel dolores, reiciendis natus mollitia officiis beatae repellendus? Corrupti sint officia alias ipsum ipsa suscipit delectus, aperiam tenetur voluptates tempora iusto quam illo. Aperiam minus assumenda dolore, deserunt consectetur recusandae repudiandae quia saepe laudantium laboriosam quas enim dicta natus vero, totam ducimus dolorum. Libero quia maxime hic earum dolorum sunt facere, a, porro impedit ratione dolorem illo at, consectetur fugiat minima maiores fugit aperiam eius? Incidunt consequatur sit ex eum? Est eos fuga suscipit quaerat dolores illo tenetur, tempore fugit deserunt veritatis nihil animi officiis quas laborum. Non perferendis magni officiis sunt voluptatibus velit aperiam cupiditate quisquam quia eius quae nam est, assumenda enim natus libero facere. Rem quisquam dolor dolorem aspernatur ullam qui ex inventore distinctio, tenetur repellendus recusandae error itaque enim, deleniti molestias facilis eius praesentium dolorum veniam magnam? Voluptatem, libero nesciunt, doloribus animi nisi esse culpa perferendis molestiae vel explicabo, numquam ducimus quo hic! Dicta, sapiente sit. Dolores accusamus voluptatem quo, distinctio quae eaque quasi, ullam placeat magnam recusandae labore voluptatum enim, fugit sunt voluptate! Necessitatibus ut itaque iusto sequi in assumenda consequatur libero excepturi vel natus doloribus accusamus praesentium earum fugiat, ipsam eligendi, pariatur odio voluptatem veritatis cupiditate dolores. Praesentium, vel commodi consequuntur quisquam impedit quos odit eius reprehenderit necessitatibus doloribus repellat perferendis, quas recusandae quae? Temporibus perspiciatis cumque minima repudiandae illum placeat. Doloremque consequuntur aperiam nostrum dolorum quo nemo vitae est, quas totam assumenda possimus facere odio at, quos consectetur quia magni sapiente provident repellat vel architecto, ad minus. Fuga cum adipisci natus numquam recusandae. Quaerat nihil adipisci laborum obcaecati soluta quisquam aut placeat officiis. Asperiores ab deleniti, voluptate libero facere architecto beatae sint iusto itaque blanditiis laboriosam consequuntur vero ducimus. Saepe, minus. Ut rem saepe molestiae asperiores magnam dicta minima! Ullam maiores, aliquam dicta esse at dolorum rem. Odio sequi aliquam reprehenderit, omnis nesciunt accusamus enim adipisci eaque iusto id quas dolores esse dicta minus rerum ipsam atque ea maiores quam voluptatem quisquam. Veritatis harum nam, recusandae dolore illo nobis fugit facere iste quasi ea aperiam voluptas enim suscipit nemo, dignissimos perspiciatis aliquam quas architecto esse cumque rem? Expedita commodi doloremque dolores a rerum non. Porro numquam deleniti optio alias placeat aperiam. Ratione sed vero beatae voluptatem, dolorum vel corporis recusandae laboriosam dolores ducimus numquam tempore placeat molestiae nobis ab? A, officia.
</body>
</html>