<!DOCTYPE html>
<html lang="en">
<head>
   <%-  include("header.ejs") %> 
</head>
<body>

    <header class="bg-[#D6F3FF]">
        <div class="container mx-auto  flex justify-between items-center ">
        
            <div class="title text-4xl font-bold m-2">
                <h1>Tayni</h1>
            </div>
            <div class="searchBuscador flex  barra-search bg-white overflow-hidden p-1 ">
                <div class="input_search w-full">
                    <input type="text" placeholder="Buscar concierto" autocomplete="off" pattern="" autofocus
                        class="serch-class" id="classInput">
        
                </div>
                <div class="config-search">
                    <div class="searhIcon"  id="microphone">
                        <figure class="px-1 cursor-pointer">
                            <img src="image/microphone.png" alt="">
                        </figure>
                    </div>
                    <div class="searhIcon">
                        <figure class="px-2 cursor-pointer">
                            <img src="image/search.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="help-content-items my-2">
                <ul class="flex items-center">
                    <li class="mx-1">
                        <a href="/ayuda">
                            <figure>
                                <img src="image/help.png" alt="">
                            </figure>
                        </a>
                    </li>
                    <li class="mx-1"><a href="/login" class="links2
                    px-5 text-black">Iniciar sesion</a></li>
                    <li class="mx-1"><a href="/logout" class="links2 bg-cuenta">Hazte una cuenta</a></li>
                </ul>
            </div>
        </div>
        <div class="hero_header flex justify-between  container mx-auto mt-12  ">
            <div class="left-hero">
                <article>
                    <h1 class="text-title mb-6">Encuentra tu proximo concierto y conoce los beneficios</h1>
                    <p class="text-2xl">Encuentra tu proximo concierto y conoce los beneficios</p>
                    <a href="" class="border-code">Comenzar <i class="fas fa-arrow-right-long"></i></a>
                </article>
            </div>
            <div class="cubos-hero">
                <div class="cuadros">
                    <div class="carrusel-Automatic">
                        <div class="efecto-blur">

                        </div>
                           <div class="carrusel">
                            <div class="img1">
                                <img src="/image/evento1.jpg" alt="">
                            </div>
                            <div class="img1">
                                <img src="/image/evento2.jpg" alt="">
                            </div>
                            <div class="img1">
                                <img src="/image/enento3.jpg" alt="">
                            </div>
                            <div class="img1">
                                <img src="/image/evento1.jpg" alt="">
                            </div>
                            
                           </div>
                    </div>
                    <div class="hero_cuadro2">
                        <div class="hero-cuadro-d">
                            <!-- text -->
                        </div>
                        <div class="hero-cuadro-t">
                            <!-- text -->
                        </div>
                    </div>

                </div>
                <div class="cuadro-end">
                    <div class="cuadro-end-1">
                      
                    </div>
                    <div class="cuadro-end-2">
                        <!-- text -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <%- include("./chat.ejs") %> 
    

    <!-- bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 -->
 <script src="/js/script.js"></script>
</body>
</html>