<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <script src="https://kit.fontawesome.com/2a174a6d4c.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="/js/form.js"></script>
    <script defer src="/js/formLogin.js"></script>
    <title>Tainy</title>
</head>

<body>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    </style>

    <div class="form-content">
        <div class="imagen-go" id="contentProvider">
            <img src="/image/registerimage.png" alt="">
        </div>
        <div class="items-hy">
            <div class="icon-item">
                <a href="/"><i class="fas fa-angle-left"></i></a>
            </div>
            <div class="title-f">
                <h1 id="title">Tayni</h1>
            </div>
        </div>
        <div class="login-register">
            <div class="formLogin">

                <h1>Crear cuenta</h1>
                <form onsubmit="return false" class="formulariLogout">

                    <div class="form-group group_email">
                        <div class="inputdata">
                            <div class="icon"><i class="fas fa-envelope"></i></div>
                            <div class="input">
                                <input type="email" class="form-control input" id="email" name="email" required="">
                                <span  class="view_text  validatos_email ">Ingrese su coreo</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group group_password ">

                        <div class="inputdata">
                            <div class="icon"><i class="fas fa-lock"></i></div>
                            <div class="input">

                                <input type="password" class="form-control input " id="password" name="password" required="">
                                <span  class="view_text validatos_password ">Contraseña</span>
                            </div>
                            <div class="eye" id="eyeView">
                                <i class="fas fa-eye"></i>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <ul>
                            <li>La contraseña debe tener mas de 8 caracteres</li>
                            <li>Asegurese de tener letras mayusculas y minuscular</li>
                            <li>Debe de tener por lo menos un caracter especial</li>
                        </ul>
                    </div>
                    <div class="butoon">
                        <button type="submit" class="btn btn-primary">
                            Crear cuenta
                        </button>
                        <div class="valib"></div>
                    </div>
                    <div class="parrafo">
                        <p id="validation"></p>
                        <p>¿Ya tienes cuenta? <span id="leftImiciar">Iniciar sesión</span></p>
                    </div>
                </form>
            </div>
            <div class="fromLogout">
                <h1>Iniciar sesión</h1>
                <form action="/login" method="post" class="formularioLogin">

                    <div class="form-group group_correo">
                        <div class="inputdata">
                            <div class="icon"><i class="fas fa-envelope"></i></div>
                            <div class="input">
                                <input type="email" class="form-control " id="correo" name="correo" required="">
                                <span class="view_text  validatos_correo ">Ingrse su correo</span>
                            </div>
                        </div>
                    </div>
                    <div class="loading">
                        <div class="spiner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                    <div class="form-group group_passwordd">

                        <div class="inputdata">
                            <div class="icon"><i class="fas fa-lock"></i></div>
                            <div class="input">
                                <input type="password" class="form-control" id="passwordd" name="passwordd" required="">
                                <span class="view_text  validatos_passwordd ">Contraseña</span>
                            </div>
                            <div class="eye" id="eyeViewst">
                                <i class="fas fa-eye"></i>
                            </div>
                        </div>
                    </div>
                <div class="butoon">
                    <button type="submit" class="btn btn-primary">
                       Iniciar sesión
                    </button>
                   
                </div>
                    <div class="parrafo">
                        <p>¿Olvidaste tu contraseña? <a href="">Recuperar contraseña</a></p>
                        <p>¿No tienes cuenta? <span id="createCount">Crear cuenta</span></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>

</html>