<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="css/dasboard.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/perfiluser.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://kit.fontawesome.com/2a174a6d4c.js" crossorigin="anonymous"></script>
    <title>Usuario</title>
</head>

<body>
 
    <!-- ? formulario -->
    <div class="ventana-modal modal">
        <form action="/update " method="post" enctype="multipart/form-data"
        class="formulario">
        <h2>Actualizar información</h2>
        <p>Manten tus datos actualizados </p>
            <div class="inputs" id="formularioTab">
                
            </div>
        </form>
    </div>

    

    <!-- ? end form -->

    <header class="cotainer--perfil">
        <div class="text">
            <h1>Tainy</h1>
        </div>
        <div class="searchperfil">
            <form action="" class="formularo">
                <div class="searc-logo">
                    <button type="submit">
                        <img src="image/imgDasboard/search-svgrepo-com.svg" alt="" width="20px">
                    </button>

                </div>
                <div class="input">

                    <input type="text" placeholder="Buscar...">
            </form>
        </div>
        </div>
        <div class="perfiluser">
            <div class="update">
                <i class="fas fa-pen"></i>
                <span>Actualizar datos </span>
            </div>
            <div class="icon">
               <a href="">
                <i class="fas fa-plus"></i>
               </a>
           </div>
            <div class="notificacion">
                <picture class="figure">
                    <img src="image/imgDasboard/bell-svgrepo-com.svg" alt="" width="20px">

                </picture>
            </div>
            <div class="userdata">
                <ul>

                    <li>
                        <div class="avatar" id="countHeader">
                            <img src="image/imgDasboard/avatar.png" alt="">
                        </div>

                        <span class="nombre" id="nameUser"></span>
                        <div class="angle">
                            <img src="image/imgDasboard/angle-down-svgrepo-com.svg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- ! main-gridllas -->

    <main class="contenedor">
        <div class="aside-barra animate__animated animate__bounceInLeft">

            <ul class="menu">
                <li>
                    <a href="/dasboard" >
                        <i class="fas fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="/perfill" class="active">
                        <i class="fas fa-user"></i>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="" class="">
                        <i class="fas fa-search"></i>
                        <span>Buscar</span>
                    </a>
                </li>
                <li>
                    <a href="" class="">
                        <i class="fas fa-bell"></i>
                        <span>Notificaciones</span>
                    </a>
                </li>


                <li>
                    <a href="/publicaciones" class="">
                        <i class="fas fa-clone"></i>
                        <span>Mis Publicaciones </span>
                    </a>
                </li>
                <li>
                    <a href="/destacadas" class="">
                        <i class="fas fa-star"></i>
                        <span>Publicaciones destacadas</span>
                    </a>
                </li>
                <li>
                    <a href="" class="">
                        <i class="fas fa-info-circle"></i>
                        <span>Acerca de</span>
                    </a>
                </li>
                <li>
                    <a href="" class="">
                        <i class="fas fa-cog"></i>
                        <span>Configuracion</span>
                    </a>
                </li>
                <li>
                    <a href="" class="">
                        <i class="fas fa-question-circle"></i>
                        <span>Ayuda</span>
                    </a>
                </li>
                <li>
                    <a href="/logout" class="">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
            <div class="copi">
                <p>Tainy © 2020</p>
            </div>

        </div>
        
    <!-- ? end -->
        <div class="main-contenido-data">
        <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-header">
                <div class="perfil-usuario-portada">
                    <div class="perfil-usuario-avatar" id="avatarImage">
                        
                    </div>
                    <button type="button" class="boton-portada">
                        <i class="far fa-image"></i> Cambiar fondo
                    </button>
                </div>
            </div>
            <div class="perfil-usuario-body">
                <div class="perfil-usuario-bio" >
                    <h3 class="titulo"> <span  id="nnameUser"></span></h3>
                    
                </div>
                <div class="perfil-usuario-footer" >
                    <ul class="lista-datos" >
                        <li><i class="icono fas fa-map-signs"></i> Nombre:  <span  id="nameUsers"></span> </li>
                        <li><i class="icono fas fa-phone-alt"></i> Telefono: <span id="telConect"></span></li>
                        <li><i class="icono fas fa-briefcase"></i>Edad: <span id="edadConect"></span></li>
                    </ul>
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-map-marker-alt"></i> Correo: <span id="emailConect"></span></li>
                        <li><i class="icono fas fa-calendar-alt"></i> Apellido: <span id="appelidoConect"></span></li>
                        <li><i class="icono fas fa-user-check" ></i>Creacion de cuenta: <span id="dateCount"></span></li>

                    </ul>
                </div>
                
            </div>
        </section>
        </div>
        <!-- ?end -->
        
        <div class="subaside--perfil">

            <div class="card-pf">
                <div class="card-1 animate__animated animate__fadeInUp">
                    <div class="datos">
                        <span class="tg">Manuel orozco</span>
                        <span><i class="fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="data">
                        <span class="p">$20.000</span>
                        <span class="d" title="Ha comprado una boleta para ir a un concierto">Ha comprado una boleta
                            para ir a un concierto</span>
                        <a href="">Ver mas informacion</a>
                    </div>

                </div>
                <div class="card-1 animate__animated animate__fadeInUp">
                    <div class="datos">
                        <span class="tg">Manuel orozco</span>
                        <span><i class="fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="data">
                        <span class="p">$20.000</span>
                        <span class="d" title="Ha comprado una boleta para ir a un concierto">Ha comprado una boleta
                            para ir a un
                            concierto</span>
                        <a href="">Ver mas informacion</a>
                    </div>

                </div>
            </div>
        </div>
    </main>

</body>
<script src="js/scriptp.js"></script>
</html>