<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("header.ejs") %>
    <link rel="stylesheet" href="/css/shopee.css">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body class="setCount">
    <%- include("header-content.ejs") %>
    <% if (data.length > 0) { %>

        <% for( let i = 0; i < data.length; i++ ) { %>
        
            <div class="product-container">
                <img src="http://localhost:3000/image/imagen.webp" alt="" />
                <div class="info-container">
                    <h2>
            <%= data[i].nombreC %> 
                    </h2>
                    <div class="sold">
                        <p>150</p>
                        <p class="clear-text">vendidos</p>
                    </div>
                    <div class="price-container">
                        <div class="flex-price">
                            <p class="tachado">Precio</p>
                            <p class="price">COP27.608</p>
                            <p class="price-box">Calificacion: 8.9</p>
                        </div>
                        <p class="impuestos">Impuestos incluidos (si aplica)</p>
                        <p class="impuestos">Cantantes: niky jank bad bunny, arcangel, anuel, ozuna</p>
                        <p class="impuestos">Publicacion de juan Daniel</p>
            
                    </div>
                    <div class="details">
                        <div class="envio width-container">
                            <h3>Fecha</h3>
                            <div class="envio-info">
                                <p class="envio-title"></i>jueves, 25 de agosto 2022</p>
                                <p class="clear-text2">
                                    Envío gratuito con el cupón para pedidos superiores a COP12.000
                                </p>
                            </div>
                        </div>
                        <div class="modelo width-container">
                            <h3>Información</h3>
                            <div class="button-container">
                                <div class="btn">Lugar: Pereira</div>
                                <div class="btn">Hora: 1:10 am</div>
                                <div class="btn">Likes: 1,200</div>
                                <div class="btn">Comentarios: 0</div>
                                <div class="btn">Sin descuento</div>
                                <div class="btn">Disponible</div>
                            </div>
                        </div>
                        <div class="cantidad width-container">
                            <h3>Cantidad</h3>
                            <div class="cantidad-box">
                                <button class="menos btn-cant"><i class='bx bx-minus'></i></button>
                                <input type="text">
                                <button class="mas btn-cant"><i class='bx bx-plus'></i></button>
                            </div>
                            <p class="clear-text center-text">988 unidades disponibles</p>
                        </div>
                        <button class="btn-finish btn1"><i class='bx bx-cart-add'></i> Añadir al carrito</button>
                        <button class="btn-finish btn2">Compra ahora</button>
                    </div>
                </div>
            </div>
        <% } %>
     
    <% } %>
</body>
</html>
